<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>货卡之家-买车</title>
  <link rel="stylesheet" href="/style/usedcar/css/buycar.css">
  <link rel="stylesheet" href="/style/usedcar/font/style.css">
  <link rel="stylesheet" href="/style/usedcar/css/footer.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.3/css/jquery-weui.min.css">
  <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="header">
  <?php $this->load->view("usedcar/topseach.html") ?>
</div>

<!------------------遮罩层---------->
<div class="mask_layer"></div>
<?php $this->load->view("usedcar/option.html") ?>

<!--列表-->
<div class="lovebox" style="margin-bottom: 60px">
  <div class="weui_cells loves">
    <!--空位视图-->
    <div class="empty" hidden>
      <div class="text-center"><i class="fa fa-ban"></i></div>
      <p class="text-center">没有任何信息</p>
    </div>
    <!--List-->
    <a href="" class="weui_cell love model " style="display:none" >
      <div class="weui_cell_hd thumb">
        <img src="" class="image" alt="icon">
      </div>
      <div class="weui_cell_bd">
        <div class="message">
          <span class="car-name"  style=" font-size:16px"></span>
          <span class="car-type"   style="margin-left:20px ; font-size:18px"></span>
        </div>
        <div class="other"><span class="price"></span></div>
        <div>
          <span class="date text-grey"></span><span class="adress text-grey"></span>
        </div>
      </div>
    </a>
    <div class="list loves">

    </div>
  </div>

  <div class="weui-infinite-scroll more">
    <div class="infinite-preloader"></div><!-- 菊花 -->
    正在加载... <!-- 文案，可以自行修改 -->
  </div>
  <div class="weui-row nomore ">
      <div class="weui-col-33"></div>
      <div class="weui-col-33" style="color:#777">---暂无更多数据---</div>
      <div class="weui-col-33"></div>
    </div>
</div>
<!-- ******************************----footer-------------******************************************** -->
<?php include('footer.html')?>

<script type="text/javascript">
var car_type ="<?=$type?>";

window.site_url="http://www.jxhkzj.com/usedcar/";
window.carloading  ={
  status : false ,
  index : 0 ,
  perload : 7 ,  //每次加载
  init:7,  //初始的个数
  option:{
    sequence:"最新上架",
    source: "全部",
    cartype:car_type.replace(/\s+/g,"") ,
    price:"",
    discharge:"",
    city:"全国",
    name:""
  },
  more: true

}
</script>


<script src="//cdn.bootcss.com/jquery-weui/0.8.3/js/jquery-weui.min.js"></script>
<script src="/style/usedcar/js/city.js"></script>
<script src="/style/usedcar/js/option.js" charset="utf-8"></script>
<script>

</script>
</body>

</html>
