
<div class="footer">
    <div class="footer-item-box">
        <a href="<?=site_url('usedcar/index')?>" class="footer-item footer-itemed ">
            <div class="item-box">
                <i class="icon-index"></i>
                <p>首页</p>
            </div>
        </a>
        <a href="buycar.html" class="footer-item">
            <div class="item-box">
                <i class="icon-buy "></i>
                <p>买车</p>
            </div>
        </a>
        <a href="<?=site_url('usedcar/sale')?>" class="footer-item">
            <div class="item-box">
                <i class="icon-sale"></i>
                <p>卖车</p>
            </div>
        </a>
        <a href="<?=site_url('usedcar/person')?>" class="footer-item ">
            <div class="item-box">
                <i class="icon-mine"></i>
                <p>我的</p>
            </div>
        </a>
    </div>
</div>