<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="footer">
    <div class="footer-item-box">
        <a href="<?=site_url('usedcar/index')?>" class="footer-item <?=$active == '首页'?'footer-itemed':''?>">
            <div class="item-box">
                <i class="fa fa-cloud"></i>
                <p>首页</p>
            </div>
        </a>
        <a href="<?=site_url('usedcar/buy')?>" class="footer-item <?=$active == '买车'?'footer-itemed':''?>">
            <div class="item-box">
                <i class="fa fa-cny "></i>
                <p>买车</p>
            </div>
        </a>
        <a href="<?=site_url('usedcar/sale')?>" class="footer-item <?=$active == '卖车'?'footer-itemed':''?>">
            <div class="item-box">
                <i class="fa fa-car"></i>
                <p>卖车</p>
            </div>
        </a>
        <a href="<?=site_url('usedcar/person')?>" class="footer-item <?=$active == '我的'?'footer-itemed':''?>">
            <div class="item-box">
                <i class="fa fa-user"></i>
                <p>我的</p>
            </div>
        </a>
    </div>
</div>
