<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>货卡之家二手车交易平台</title>
  <link rel="stylesheet" href="/style/usedcar/css/index.css">
  <link rel="stylesheet" href="/style/usedcar/font/style.css">
  <link rel="stylesheet" href="/style/usedcar/css/footer.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.3/css/jquery-weui.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
  <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/style/common/common.css">
</head>

<body>
  <!--城市选择 Begin-->
  <?php include('city.html')?>
  <!--城市选择 End-->

<!-- 全屏搜索 -->
<div class="fullscreen-search">
  <div class="head-search">
    <div class="search_bar" id="search_wrap">
      <form class="">
        <div class="input" id="input_search">
          <label for="search_input">
            <i class="weui_icon_search"></i>
          </label>
          <input type="text" id="search" placeholder="搜索" name="search" />
        </div>
      </form>
      <a href="javascript:" class="search_cancel" id="search_cancel">取消</a>
    </div>
    <a href="javascript:void(0)"></a>
  </div>
  <div class="hot" style="clear:both;">
    <h1>热门搜索</h1>
    <span class="hot_item">4.2</span>
    <span class="hot_item">冷藏车</span>
    <span class="hot_item">前四后八</span>
    <span class="hot_item">牵引车</span>
    <span class="hot_item">4.2</span>
    <span class="hot_item">4.2</span>
    <span class="hot_item">自卸车</span>
    <span class="hot_item">4.2</span>
  </div>
</div>
<!--城市选择-->
<?php include('city.html')?>
<!--城市选择-->
<div class="banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <?php foreach($banner as $b) : ?>
      <div class="swiper-slide"><a href="<?=$b['url']?>"><img src="<?=$b['img']?>" alt=""></a></div>
    <?php endforeach;  ?>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class="jiaoyi">
  <a href="<?=site_url('usedcar/buy')?>" class="buy"><i class="fa fa-cny"></i>我要买车</a>
  <a href="<?=site_url('usedcar/sale')?>" class="sale"><i class="fa fa-taxi"></i>我要卖车</a>
</div>

<div class="merchant-list weui_cells" style="padding:10px;">
    <p style="height:20px ;margin:0 0 0 10px ; font-size:14px; font-weight:bold;">活跃商家</p>
    <?php if(!empty($merchants)){ foreach($merchants as $key=>$v ){ ?>
      <a href="/merchantcheck/detail/<?=$v['id'] ?>" class="weui_cell dark" style="height:50px ;">
        <img src="<?=$v['headphoto']?>" alt="" style=" height:50px;width:50px; border-radius:25px;">
        <p class="name" class="dark middlefont" style="margin-left:20px;"><?=$v['merchant_name']?></p>
        <p class="address" class="dark smallfont" style="margin-left:20px; font-size:12px; color:#777"><?php echo explode( " " ,$v["address"] )[1]; ?></p>
      </a>
    <?php }}else{ ?>
    <div class="no orange  text-center smallfont" style="padding:20px;">
      <a href="/merchantcheck/index" class=" dark">还没有商户，<span class="blue underline">点击申请</span> 吧!</a>
    </div>
    <?php } ?>
</div>

<div class="weui_grids search_car-type type ">
  <h3>车型快查</h3>
  <a href="javascript:;" class="weui_grid js_grid  type-item" data-id="button">
    <p class="weui_grid_label">
      牵引车
    </p>
  </a>
  <a href="javascript:;" style="border-right: 1px solid #d9d9d9" class="weui_grid js_grid type-item" data-id="cell">
    <p class="weui_grid_label">
      载货车
    </p>
  </a>
  <a href="javascript:;" class="weui_grid js_grid type-item" data-id="toast">
    <p class="weui_grid_label">
      自卸车
    </p>
  </a>
  <a href="javascript:;" class="weui_grid js_grid type-item" data-id="toast">
    <p class="weui_grid_label">
      搅拌车
    </p>
  </a>
  <a href="javascript:;" style="border-right: 1px solid #d9d9d9" class="weui_grid js_grid type-item" data-id="toast">
    <p class="weui_grid_label">
      轻卡
    </p>
  </a>
  <a href="javascript:;" class="weui_grid js_grid type-item" data-id="toast">
    <p class="weui_grid_label">
      挂车
    </p>
  </a>
  <a href="javascript:;"  class="weui_grid js_grid type-item" data-id="toast">
    <p class="weui_grid_label">
      专用车
    </p>
  </a>
  <a href="javascript:;" style="border-right: 1px solid #d9d9d9" class="weui_grid js_grid type-item" data-id="toast">
    <p class="weui_grid_label">
      二手车
    </p>
  </a>
  <a href="javascript:;" class="weui_grid js_grid type-item" data-id="toast">
    <p class="weui_grid_label">
      库存车
    </p>
  </a>
</div>
<div class="weui_tab show">
  <div class="weui_navbar menu">
    <a href="#great" class="weui_navbar_item weui_bar_item_on ">
      精品车源
    </a>
    <a href="#new" class="weui_navbar_item selling">
      最新好车
    </a>
    <a href="#lowprice" class="weui_navbar_item done">
      降价急售
    </a>
  </div>
  <div class="weui_tab_bd">
    <!-- 精品车源 -->
    <div class="lovebox" id="great">
      <!-- 每个a链接表示一个单元 -->
      <a href="" class="weui_cell  love model" style="display:none" >
        <div class="weui_cell_hd thumb">
          <img src="" class="image" alt="icon">
        </div>
        <div class="weui_cell_bd">
          <div class="message">
            <span class="car-type" style="font-size:16px"> 1 </span>
            <span class="car-name" style="color:#666 ;margin-left:12px"> 2  </span>
          </div>
          <div class="other"><span class="price">3</span> </div>
          <div>
            <span class="date text-grey"></span><span class="adress text-grey"></span>
          </div>
        </div>
      </a>
      <div class="loves">
      </div>

    </div>
    <!-- 最新好车 -->
    <div class="lovebox" id="new">
      <div class="loves">
      </div>
    </div>
    <!-- 降价急售 -->
    <div class="lovebox" id="lowprice">
      <div class="loves">
      </div>
    </div>
  </div>
</div>
  <div class="weui-infinite-scroll more">
    <div class="infinite-preloader"></div><!-- 菊花 -->
    正在加载... <!-- 文案，可以自行修改 -->
  </div>

<!-- ******************************----footer-------------******************************************** -->
<?php include('footer.html')?>
</body>
<script type="text/javascript">
  $(function() {
    $(".type .type-item ").click(function() {
      var type = $(this).find("p").text()
      location.href="<?=site_url('usedcar/buy') ?>"+"?type="+type;
    })
  })
</script>
<script src="//cdn.bootcss.com/jquery-weui/0.8.3/js/jquery-weui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.js"></script>
<script src="/style/usedcar/js/city.js"></script>
<script src="/style/usedcar/js/index.js"></script>
<script>
    var swiper = new Swiper(".swiper-container", {
        autoplay: true,
        loop: true,
        pagination: {
            el: ".swiper-pagination"
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<script>
    // $("#search_cancel").click(function() {
    //     $(".fullscreen-search").animate({ "left": "100%" }, 200);
    //     $("#search_cancel_").click();
    // });
    // $("#search_text").click(function() {
    //     $(".fullscreen-search").animate({ "left": "0" }, 200);
    // });

</script>
<!--精品车源，最好车源，降价急售-->
<script>


  //遍历输出数据

</script>

</html>
