<!-------------->
<script type="text/javascript">
  /**
  @author caoyuxin
  @page:  选择条件
  */
</script>
<!-------------选项------------------>

<!---------------选择排序--------------->
<div class="choice_form sequence_choice">
  <div class="caption" style="padding : 10px 0 ">
    <span class="fa fa-angle-left" style="font-size:20px"></span>
    <h4 style="font-size:20px">选择排序</h4>
  </div>
  <div class="weui_cells weui_cells_radio form_suc">
    <label class="weui_cell weui_check_label" for="x11">
      <div class="weui_cell_bd weui_cell_primary">
        <p>最新上架</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" class="weui_check" name="radio1" value="默认排序" id="x11" checked="checked">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x13">
      <div class="weui_cell_bd weui_cell_primary">
        <p>价格最低</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio1" value="价格最低" class="weui_check" id="x13">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x14">
      <div class="weui_cell_bd weui_cell_primary">
        <p>价格最高</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio1" value="价格最高" class="weui_check" id="x14">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x15">
      <div class="weui_cell_bd weui_cell_primary">
        <p>降价急售</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio1" value="降价急售" class="weui_check" id="x15">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
  </div>
</div>
<!--------------选择排序end------------------->
<!---------------选择来源--------------->
<div class="choice_form source_choice">
  <div class="caption" style="padding : 10px 0 ">
    <span class="fa fa-angle-left" style="font-size:20px"></span>
    <h4 style="font-size:20px">选择来源</h4>
  </div>
  <div class="weui_cells weui_cells_radio source">
    <label class="weui_cell weui_check_label" for="x16">
      <div class="weui_cell_bd weui_cell_primary">
        <p>全部</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" class="weui_check" name="radio2" id="x16" checked="checked">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x17">
      <div class="weui_cell_bd weui_cell_primary">
        <p>个人</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio2" class="weui_check" id="x17">
        <span class="weui_icon_checked"></span>
      </div>
    </label>

    <label class="weui_cell weui_check_label" for="x19">
      <div class="weui_cell_bd weui_cell_primary">
        <p>商家</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio2" class="weui_check" id="x19">
        <span class="weui_icon_checked"></span>
      </div>
    </label>

  </div>
</div>
<!--------------选择来源end------------------->

<!---------------选择车型--------------->
<div class="choice_form type_choice">
  <div class="caption" style="padding : 10px 0 ">
    <span class="fa fa-angle-left" style="font-size:20px"></span>
    <h4 style="font-size:20px">选择车型</h4>
  </div>
  <div class="weui_cells weui_cells_radio sort">
    <label class="weui_cell weui_check_label" for="x21">
      <div class="weui_cell_bd weui_cell_primary">
        <p>不限</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" class="weui_check" name="radio3" id="x21" value="不限" checked="checked">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x22">
      <div class="weui_cell_bd weui_cell_primary">
        <p>牵引车</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" class="weui_check" name="radio3" value="牵引车" id="x22">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x23">
      <div class="weui_cell_bd weui_cell_primary">
        <p>载货车</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio3" class="weui_check" value="载货车" id="x23">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x24">
      <div class="weui_cell_bd weui_cell_primary">
        <p>自卸车</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio3" class="weui_check" value="自卸车" id="x24">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x25">
      <div class="weui_cell_bd weui_cell_primary">
        <p>轻卡</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio3" class="weui_check" value="轻卡" id="x25">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x26">
      <div class="weui_cell_bd weui_cell_primary">
        <p>挂车</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio3" class="weui_check" value="挂车" id="x26">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x27">
      <div class="weui_cell_bd weui_cell_primary">
        <p>搅拌车</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio3" class="weui_check" value="搅拌车" id="x27">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x28">
      <div class="weui_cell_bd weui_cell_primary">
        <p>专用车</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio3" class="weui_check" value="专用车" id="x28">
        <span class="weui_icon_checked"></span>
      </div>
    </label>
  </div>
</div>
<!--------------选择车型end------------------->
<!---------------更多筛选------------>
<div class="choice_form more_choise more_choice">
  <div class="caption" style="padding : 10px 0 ">
    <span class="fa fa-angle-left" style="font-size:20px"></span>
    <h4 style="font-size:20px">更多筛选</h4>
  </div>
  <p style="font-size:16px" >价格</p>
  <div class="price">
  <div class="weui_cells weui_cells_radio option nozv price" style="margin-top:0 ">
    <label class="weui_cell weui_check_label" for="x32">
      <div class="weui_cell_bd weui_cell_primary">
        <p>不限</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio5" class="weui_check" value="不限" id="x32" checked="checked">
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x33">
      <div class="weui_cell_bd weui_cell_primary">
        <p>0-5万</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio5" value="0到5" class="weui_check" id="x33">
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x34">
      <div class="weui_cell_bd weui_cell_primary">
        <p>5-10万</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio5" value="5到10" class="weui_check" id="x34">
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x35">
      <div class="weui_cell_bd weui_cell_primary">
        <p>10-20万</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio5" value="10到20"  class="weui_check" id="x35">
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x36">
      <div class="weui_cell_bd weui_cell_primary">
        <p>20-50万</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio5" value="20到50" class="weui_check" id="x36">
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x36">
      <div class="weui_cell_bd weui_cell_primary">
        <p>50万以上</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio5" value="20到50" class="weui_check" id="x36">
      </div>
    </label>
  </div>
  </div>
  <p style="font-size :16px">排放</p>
  <div class="weui_cells weui_cells_radio option nozv goout" style="margin-top:0 ">
    <label class="weui_cell weui_check_label" for="x36">
      <div class="weui_cell_bd weui_cell_primary">
        <p>不限</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio6" value="不限" class="weui_check">
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x37">
      <div class="weui_cell_bd weui_cell_primary">
        <p>国二</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio6" value="国二" class="weui_check" id="x37">
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x38">
      <div class="weui_cell_bd weui_cell_primary">
        <p>国三</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio6" value="国三" class="weui_check" id="x38">
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x39">
      <div class="weui_cell_bd weui_cell_primary">
        <p>国四</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio6" value="国四" class="weui_check" id="x39">
      </div>
    </label>
    <label class="weui_cell weui_check_label" for="x40">
      <div class="weui_cell_bd weui_cell_primary">
        <p>国五</p>
      </div>
      <div class="weui_cell_ft">
        <input type="radio" name="radio6" value="国五" class="weui_check" id="x40">
      </div>
    </label>
  </div>
</div>
<!-----------------更多筛选end-------------->
<!-------------选项end---------------->
<div class="main_head">
  <div class="element">
    排序<i class="fa fa-caret-down"></i>
  </div>
  <div class="element">
    来源<i class="fa fa-caret-down"></i>
  </div>
  <div class="element">
    车型<i class="fa fa-caret-down"></i>
  </div>
  <div class="element">
    更多<i class="fa fa-caret-down"></i>
  </div>
</div>
<div class="check-option-box weui-cells ">
  <div class="replace" id="replace">
    清空
  </div>
  <div class="checked-items weui-cell">
  </div>
</div>
