<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>浏览记录</title>
    <link rel="stylesheet" href="../static/css/record.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.3/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/font/style.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
<div class="header">
    <div class="wrap">
        <a href="mine.html"><i class="bowleft fa fa-angle-left"></i></a>
        <h1>浏览记录</h1>
    </div>
</div>
            <div class="lovebox" id="great">
                <div class="loves">
                  <!-- 每个a链接表示一个单元 -->
                    <a href="car-detail.html" class="weui_cell  love">
                         <div class="weui_cell_hd thumb">
                             <img src="../static/images/car.jpg" alt="icon">
                         </div>
                         <div class="weui_cell_bd">
                             <div class="message">
                                 <span class="car-type">自卸车</span>
                                 <span class="car-name">东风商用车 385马力</span>
                             </div>
                             <div class="other"><span class="price">27.12万</span> </div>
                             <div>
                                <span class="date text-grey">2017.1</span><span class="adress text-grey">河南 许昌 禹州</span>
                             </div>
                         </div>
                    </a>
                    <a href="car-detail.html" class="weui_cell  love">
                         <div class="weui_cell_hd thumb">
                             <img src="../static/images/car.jpg" alt="icon">
                         </div>
                         <div class="weui_cell_bd">
                             <div class="message">
                                 <span class="car-type">自卸车</span>
                                 <span class="car-name">东风商用车 385马力</span>
                             </div>
                             <div class="other"><span class="price">27.12万</span> </div>
                             <div>
                                <span class="date text-grey">2017.1</span><span class="adress text-grey">河南 许昌 禹州</span>
                             </div>
                         </div>
                    </a>
                </div>
            </div>

<!-- ******************************----footer-------------******************************************** -->

    <!-- ******************************----footer-------------******************************************** -->
    <div class="footer">
        <div class="footer-item-box">
            <a href="index.html" class="footer-item  ">
                <div class="item-box">
                    <i class="icon-index"></i>
                    <p>首页</p>
                </div>
            </a>
            <a href="buycar.html" class="footer-item ">
                <div class="item-box">
                    <i class="icon-buy "></i>
                    <p>买车</p>
                </div>
            </a>
            <a href="sale.html" class="footer-item">
                <div class="item-box">
                    <i class="icon-sale"></i>
                    <p>卖车</p>
                </div>
            </a>
            <a href="mine.html" class="footer-item ">
                <div class="item-box">
                    <i class="icon-mine"></i>
                    <p>我的</p>
                </div>
            </a>
        </div>
    </div>




<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/0.8.3/js/jquery-weui.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/0.8.3/js/city-picker.min.js"></script>
</body>
</html>