<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>浏览记录</title>
    <link rel="stylesheet" href="/style/usedcar/css/record.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/usedcar/css/footer.css">
  	<link rel="stylesheet" href="/style/usedcar/font/style.css">
  	<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
  	<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.3/css/jquery-weui.min.css">
  	<link rel="stylesheet" href="/style/usedcar/css/mine.css">
</head>
<body>
<div class="header">
    <div class="wrap">
        <a href="javascript:window.history.go(-1)"><i class="bowleft fa fa-angle-left"></i></a>
        <h1>浏览记录</h1>
    </div>
</div>
    <div class="lovebox" style="margin-bottom:50px;" id="great">
      <a href="car-detail.html" class="weui_cell  love model" style="display:none">
           <div class="weui_cell_hd thumb">
               <img src="" alt="icon" class="car_image">
           </div>
           <div class="weui_cell_bd">
               <div class="message">
                   <span class="car-type">自卸车</span>
                   <span class="car-name">东风商用车 385马力</span>
               </div>
               <div class="other"><span class="price">27.12万</span> </div>
               <div>
                  <span class="date text-grey">2017.1</span><span class="adress text-grey">河南 许昌 禹州</span>
               </div>
           </div>
      </a>

        <div class="loves">


        </div>
      <div class="weui-infinite-scroll more" >
        <div class="infinite-preloader" ></div><!-- 菊花 -->
          正在加载... <!-- 文案，可以自行修改 -->
        </div>
      </div>


<!-- ******************************----footer-------------******************************************** -->

    <!-- ******************************----footer-------------******************************************** -->
    <div class="footer">
        <div class="footer-item-box">
            <a href="<?=site_url('usedcar/index')?>" class="footer-item  ">
                <div class="item-box">
                    <i class="icon-index"></i>
                    <p>首页</p>
                </div>
            </a>
            <a href="<?=site_url('usedcar/buy')?>" class="footer-item ">
                <div class="item-box">
                    <i class="icon-buy "></i>
                    <p>买车</p>
                </div>
            </a>
            <a href="<?=site_url('usedcar/sale')?>" class="footer-item">
                <div class="item-box">
                    <i class="icon-sale"></i>
                    <p>卖车</p>
                </div>
            </a>
            <a href="<?=site_url('usedcar/person')?>" class="footer-item ">
                <div class="item-box">
                    <i class="icon-mine"></i>
                    <p>我的</p>
                </div>
            </a>
        </div>
    </div>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/0.8.3/js/jquery-weui.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/0.8.3/js/city-picker.min.js"></script>
<script type="text/javascript">
//本地浏览记录
function getHistory(key) {
  if(localStorage.getItem(key)==null){
    localStorage.setItem(key , JSON.stringify([]));
    return JSON.parse(localStorage.getItem(key));
  }else{
    return JSON.parse(localStorage.getItem(key));
  }
}

function setHistory(key , obj){
  localStorage.setItem(key , JSON.stringify(obj));
}
site_url = "<?=site_url()?>";//拿到url
function add(message){//接受车辆的对象
    var thiscar = $(".model").clone().removeClass("model");
    thiscar.css("display" ,"");
    thiscar.attr("href",site_url+"usedcar/see/"+message["id"]);
    // $.ajax(site_url+"usedcar/car_info_id/"+id ,{
    //   type:"post",
    //   success:function(data){
    //     var message = eval("("+data+")");
    //     var src  = message["img_arr_str"];

    // } });
    src = message["img_arr_str"];
     thiscar.find(".car_image").attr("src" , src.split('-$-')[0] );
     thiscar.find(".car-type").text(message["car_type"]);
     thiscar.find(".car-name").text(message["car_name"]);
     thiscar.find(".price").text(message["price"]);
     thiscar.find(".date").text(message["create_time"]);
     thiscar.find(".adress").text(message["address"]);
     thiscar.appendTo(".loves");
}
browseHistory = getHistory("history");
var loading = {
  status : false ,
   index : 0 ,
  perload : 7 ,  //每次加载
  init:7  //初始的个数
  };  //状态标记

(function(){  //初始化渲染
  loading.status=true;
      $.post(site_url+"usedcar/get_car_info",{ ids : browseHistory.slice(0,loading.init)},function(data){
        for(x in data){
          add(data[x]);
        }
        loading.status=false;
        loading.index=loading.init;
        if(data.length<loading.init) {
          $(".more").text("没有更多了");
          return;
        }
      },"json");

})();
  $(function () {
          $(document.body).infinite(0).on("infinite", function() {
            if(loading.status) return;
            loading.status=true;
            if(browseHistory.slice(loading.index,loading.index+loading.perload).length==0){
                $(".more").html("没有更多了");
                return;
            }
                $.post(site_url+"usedcar/get_car_info",{ ids : browseHistory.slice(loading.index,loading.index+loading.perload)},function(data){
                  for(x in data){
                    add(data[x]);
                  }

                  loading.index+=loading.perload;
                  loading.status=false;

                },"json");
          });

  })
</script>
</body>
</html>
