*{
	margin:0px;
	padding:0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
body{
	background: #F7F7F7;
}
.pu_head{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background:#4B92FE;
}
.pu_head i{
	margin-left: 10px;
}
.pu_head h4{
	color: white;
	margin-top: -30px;
	text-align: center;
	font-weight: normal;
}
.weui_navbar{
	line-height: 1;
}
.weui_navbar_item.weui_bar_item_on{
	color: #4B92FE;
	border-bottom: 1px solid #4B92FE;
}

