*{
	margin:0px;
	padding:0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: #F7F7F7;
}

/*.head_top{
	width: 100%;
	height: 30px;
	/*background: #0084FF;*/
	/*background:#4B92FE;
	border-bottom: 1px solid #F7F7F7;
}
.head_top h4{
	text-align: center;
	font-weight:normal;
	line-height: 30px;
	color: white;
}*/*/