<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>选派编委定稿</title>
    <link href="/style/author/css/public.css" rel="stylesheet">
    <script type="text/javascript" src="<?=base_url('style/index')?>/js/jquery-3.2.1.min.js"></script>
</head>

<body>
    <table class="table">
        <tr>
            <td align="right">稿件题目：</td>
            <td>
                <?=$article['title']?>
            </td>
        </tr>
        <tr>
            <td align="right">稿件关键字：</td>
            <td>
                <?=$article['keywords']?>
            </td>
        </tr>
        <tr>
            <td align="right">稿件摘要：</td>
            <td>
                <?=$article['abstract']?>
            </td>
        </tr>
        <tr>
            <td align="right">稿件附件：</td>
            <td><a href="<?=site_url('index/editorial/download/'.$article['article_id'])?>">点击下载附件</a></td>
        </tr>
        <?php foreach($suggest as $s):?>
        <tr>
            <td align="right">
                 <?=format_suggest_name($s['rank'], $s['realname'])?>
            </td>
            <td>
                <?=$s['content']?>
                <br/><br/><span class="hint">审核时间：<?=date('Y-m-d H:i:s', $s['time'])?><span>
            </td>
        </tr>
        <?php endforeach;?>
    </table>
    <hr/>
    <table class="table">
        <form action="<?=site_url('index/edit/select_editorial/'.$article['article_id'])?>" method="post">
        <?php foreach($editorial as $k=>$e):?>
            <?=$k%4==0?'<tr>':''?>
                <td>
                    <input class="checkbox_input" type="radio" name="editorial" value="<?=$e['user_id']?>" ><?=$e['realname']?>
                </td>
            <?=($k+1)%4==0?'</tr>':''?>
        <?php endforeach;?>
        <tr>
            <td colspan="4" align="center">
                <input type="submit" value="选派编委定稿" class="input_button">
            </td>
        </tr>
        </form>
    </table>
</body>

</html>