<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>配件销售之安全</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/application/views/partssell/static/css/sorts.css">

  </head>
  <body>
    <div class="page-group">
        <div class="page page-current">
        <header class="bar bar-nav  main_head">
  <a href="index.html" class="icon icon-left pull-left"></a>
  <a class="icon icon-menu pull-right open-panel"></a>
  <h1 class="title">安全</h1>
</header>

<div class="bar bar-header-secondary">
  <div class="searchbar">
    <a class="searchbar-cancel">取消</a>
    <div class="search-input">
      <label class="icon icon-search" for="search"></label>
      <input type="search" id='search' placeholder='输入关键字...'/>
    </div>
  </div>
</div>
<div class="content">
	<div class="content-padded parts_card">
  	<!--每个card是一个商品-->
  <div class="card demo-card-header-pic">
  	<a href="parts_details.html">
    <div valign="bottom" class="card-header color-white no-border no-padding">
      <img class='card-cover' src="/application/views/partssell/static/images/timg.jpg" alt="">
    </div>
    <div class="card-content">
      <div class="card-content-inner">
        <p>此处是内容...</p>
      </div>
    </div>
    </a>
    <div class="card-footer">
    	<div class="footer_left"><i class="fa fa-jpy"></i><span>9.9</span></div>
    	<div class="footer_right">
       <span class="icon collect"><i class="icon icon-star"></i></span>
      <span class="icon shop_car"><i class="icon icon-cart"></i></span>
      </div>
    </div>
  </div>

 <div class="card demo-card-header-pic">
  	<a href="parts_details.html">
    <div valign="bottom" class="card-header color-white no-border no-padding">
      <img class='card-cover' src="/application/views/partssell/static/images/timg.jpg" alt="">
    </div>
    <div class="card-content">
      <div class="card-content-inner">
        <p>此处是内容...</p>
      </div>
    </div>
    </a>
    <div class="card-footer">
    	<div class="footer_left"><i class="fa fa-jpy"></i><span>9.9</span></div>
    	<div class="footer_right">
       <span class="icon collect"><i class="icon icon-star"></i></span>
      <span class="icon shop_car"><i class="icon icon-cart"></i></span>
      </div>
    </div>
  </div>

  <?php foreach($list as $s):?>
    <div class="card demo-card-header-pic">
      <a href="<?=site_url('partssell/parts_detail/').$s['id']?>"  external>
       <div valign="bottom" class="card-header color-white no-border no-padding">
         <img class='card-cover' src="/application/views/partssell/static/images/timg.jpg" alt="">
       </div>
       <div class="card-content">
         <div class="card-content-inner">
           <p><?=$s['content']?></p>
         </div>
       </div>
       </a>
       <div class="card-footer">
        <div class="footer_left"><i class="fa fa-jpy"></i><span><?=$s['money']?></span></div>
        <div class="footer_right">
          <span class="icon collect"><i class="icon icon-star"></i></span>
         <span class="icon shop_car"><i class="icon icon-cart"></i></span>
         </div>
       </div>

     </div>
  <?php endforeach; ?>




  </div>
</div>
        </div>
    </div>

    <div class="panel-overlay"></div>
<!-- Left Panel with Reveal effect -->
<div class="panel panel-right panel-reveal">
  <div class="content-block">
  	<header class="bar bar-nav  min_head">
  <a href="#" class="icon icon-left close-panel pull-left"></a>
  <h1 class="title">请选择</h1>
</header>
  	<div class="list-block contacts-block">
    <a class="list-group">
      <ul>
      	<li>
          <a href="<?=site_url('partssell/chailv')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">柴滤</div>
            </div>
          </a>
        </li>
        <li>
          <a href="<?=site_url('partssell/jilv')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">机滤</div>
            </div>
          </a>
        </li>
        <li>
          <a href="<?=site_url('partssell/konglv')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">空滤</div>
            </div>
          </a>
        </li>
        <li>
          <a href="<?=site_url('partssell/jiyou')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">机油</div>
            </div>
          </a>
        </li>
        <li>
          <a href="<?=site_url('partssell/peijian')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">配件</div>
            </div>
          </a>
        </li>
        <li>
          <a href="<?=site_url('partssell/neishi')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">内饰</div>
            </div>
          </a>
        </li>
        <li>
          <a href="<?=site_url('partssell/waishi')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">外饰</div>
            </div>
          </a>
        </li>
        <li>
          <a href="<?=site_url('partssell/anquan')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">安全</div>
            </div>
          </a>
        </li>
        <li>
          <a href="<?=site_url('partssell/jiazhuang')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">加装</div>
            </div>
          </a>
        </li>
        <li>
          <a href="<?=site_url('partssell/quanbu')?>" class="item-content">
            <div class="item-inner">
              <div class="item-title">全部</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>


    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script>$.config = {router: false}</script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
</html>
<script>
	$(function(){

	//收藏点击事件
	$('.card-footer .footer_right .collect i').click(function(){

		if($(this).hasClass('icon icon-star')){
			$(this).addClass('fa fa-star').removeClass('icon icon-star');
		}
		else{
			$(this).addClass('icon icon-star').removeClass('fa fa-star');
		}
	})

	//购物车点击事件
	$('.card-footer .footer_right .shop_car i').click(function(){

		if($(this).hasClass('icon icon-cart')){
			$(this).addClass('fa fa-shopping-cart').removeClass('icon icon-cart');
		}
		else{
			$(this).addClass('icon icon-cart').removeClass('fa fa-shopping-cart');
		}
	})
})

</script>
