<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>配件销售收货地址</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

  </head>
  <body>
    <div class="page-group">
        <div class="page page-current">
        <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left" onclick="javascript:window.history.go(-1)" data-transition='slide-out'>
      <span style="color: black;" class="icon icon-left"></span>
    </a>
    <a class="icon pull-right" style="color: #FF5000;" href="javascript:submit();">保存</a>
    <h1 class="title">编辑收货地址</h1>
  </header>
  <div class="content">
    <div class="list-block">
    <ul>
      <!-- Text inputs -->
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-title label">姓名</div>
            <div class="item-input">
              <input type="text" id="name"  placeholder="<?=$realname?$realname:'请填写姓名'?>">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-number"></i></div>
          <div class="item-inner">
            <div class="item-title label">电话</div>
            <div class="item-input">
              <input type="number" id="phone" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" placeholder="<?=$phone?$phone:'请填写电话'?>">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-number"></i></div>
          <div class="item-inner">
            <div class="item-title label">地址</div>
            <div class="item-input">
              <input type="text"  id='city-picker' placeholder="<?=$address?$address:'请选择地址'?>">
            </div>
          </div>
        </div>
      </li>

      <li class="align-top">
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-comment"></i></div>
          <div class="item-inner">
            <div class="item-title label">详细地址</div>
            <div class="item-input">
              <textarea id="addressinfo" placeholder="<?=$addressinfo?$addressinfo:'请填写详细地址'?>"></textarea>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="//g.alicdn.com/msui/sm/0.6.2/js/sm-city-picker.min.js" charset="utf-8"></script>

  </body>
</html>
<script>
  $("#city-picker").cityPicker({
    toolbarTemplate: '<header class="bar bar-nav">\
    <button class="button button-link pull-right close-picker">确定</button>\
    <h1 class="title">选择收货地址</h1>\
    </header>'
  });
  function submit(){
     $.post("<?=site_url('partssell/edit_address')?>",
    {
       name:$('#name').val(),
       phone:$('#phone').val(),
       address:$('#city-picker').val(),
       addressinfo:$('#addressinfo').val()

    },function(data){
      if(data.code == 200){
          alert(data.message);
          window.history.go(-1);
      }else{
          alert(data.message);
      }
    },'json');

  };
</script>
