<ul class="quick_btn">
    <li><a class="go_home" href="<?=base_url()?>" title="首页" target="_blank">首页</a></li>
    <li><a class="contribute" href="<?=site_url('index/specialist/list_article/check')?>" onClick="go_cmdurl('在线审稿',this);border_left('TabPage2','left_tab2');" title="在线审稿" target="content3">在线审稿</a></li>
</ul>
<div class="menu_top"></div>
<div class="menu" id="TabPage3">
    <ul id="TabPage2">
        <li id="left_tab1" class="Selected" onClick="javascript:border_left('TabPage2','left_tab1');" title="常用">常用</li>
        <li id="left_tab2" onClick="javascript:border_left('TabPage2','left_tab2');" title="审稿">审稿</li>
    </ul>
    <div id="left_menu_cnt">
        <ul id="dleft_tab1">
            <li id="now34" class="Selected"><a class="Selected" href="<?=site_url('index/myhome/user_info')?>" onClick="go_cmdurl('个人信息',this);" target="content3" title="个人信息">个人信息</a></li>
            <li id="now1d"><a href="<?=site_url('index/myhome/edit_password')?>" onClick="go_cmdurl('修改密码',this);" target="content3" title="修改密码">修改密码</a></li>
            <li id="now18"><a href="<?=site_url('index/specialist/login_by_author')?>" onClick="go_cmdurl('以作者身份登录',this)" target="_self" title="以作者身份登录">以作者身份登录</a></li>
            <li id="now1b"><a href="<?=site_url('index/myhome/logout')?>" onClick="go_cmdurl('安全退出',this)" target="_self" title="安全退出">安全退出</a></li>
        </ul>
        <ul id="dleft_tab2" style="display:none;">
            <li id="now23"><a href="<?=site_url('index/specialist/list_article/check')?>" onClick="go_cmdurl('在线审稿',this)" target="content3" title="在线审稿">在线审稿</a></li>
           
            <li id="now22"><a href="<?=site_url('index/specialist/list_article/checked')?>" onClick="go_cmdurl('已审核稿件',this)" target="content3" title="已审核稿件">已审核稿件<span id="sdraft_num"></span></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>