<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>修改密码</title>
	<link rel="stylesheet" href="<?php echo base_url('style/admin'); ?>/css/public.css" />
</head>
<body>
	<style>span{color: red;}</style>
	<form action="<?php echo site_url('admin/admin/do_edit_password'); ?>" method="post">
		<table class="table">
			<tr>
				<td align="right">旧密码：</td>
				<td>
					<input type="password" class="input" name="old_password" required="required">
				</td>
			</tr>
			<tr>
				<td align="right">新密码：</td>
				<td>
					<input type="password" class="input" name="new_password" required="required">
				</td>
			</tr>
			<tr>
				<td align="right">重复输入新密码：</td>
				<td>
					<input type="password" class="input" name="password2" required="required">
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2">
					<input type="submit" value="修改" class="input_button" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
<script>

