<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>数学季刊投稿系统</title>
	<link rel="stylesheet" href="<?=base_url('style/admin'); ?>/css/admin.css" />
	<link rel="stylesheet" href="<?=base_url('style/admin'); ?>/css/public.css"/>
	<script type="text/javascript" src="<?=base_url('style/admin');?>/js/jquery-2.1.0.js"></script>
	<script type="text/javascript" src="<?=base_url('style/admin');?>/js/admin.js"></script>
<!-- 默认打开目标 -->
<base target="iframe"/>
</head>
<body>
<!-- 头部 -->
	<div id="top_box">
		<div id="top">
			<p id="top_font">数学季刊投稿系统后台管理首页</p>
		</div>
		<div class="top_bar">
			<p class="adm">
				<span>管理员：</span>
				<span class="adm_pic">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span class="adm_people">[ HENU ]</span>
			</p>
			<p class="now_time">
				今天是：<?=date('Y.m.d')?>
				您的当前位置是：
				<span>首页</span>
			</p>
			<p class="out">
				<span class="out_bg">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;
				<a href="<?=site_url('admin/login/logout')?>" target="_self">退出</a>
			</p>
		</div>
	</div>
<!-- 左侧菜单 -->
		<div id="left_box">
			<p class="use">常用菜单</p>
			<div class="menu_box">
				<h2>管理员设置</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a target="_blank" href="<?=base_url('')?>" class="pos">前台首页</a>        	
				        </li> 
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/edit_password'); ?>" class="pos">密码修改</a>				        	
				        </li> 
				    </ul>
				</div>
			</div>

			<!-- 用户管理 BEGIN -->
			<div class="menu_box">
				<h2>用户管理</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/user_list/all')?>" class="pos">全部用户</a>
				        </li> 
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/user_list/author'); ?>" class="pos">作者</a>	
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/user_list/specialist');?>" class="pos">专家</a>	
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/user_list/editorial');?>" class="pos">编委</a>	
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/user_list/edit');?>" class="pos">编辑</a>	
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/user_list/ac_specialist');?>" class="pos">未认证专家</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/user_list/ac_editorial');?>" class="pos">未认证编委</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/user_list/ac_edit');?>" class="pos">未认证编辑</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 用户管理 END -->

			<!-- 稿件管理 BEGIN -->
			<div class="menu_box">
				<h2>稿件管理</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/remind/see')?>" class="pos">
				        	提醒审稿</a>
				        </li> 
				    </ul>
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/article_list/all')?>" class="pos">全部稿件</a>
				        </li> 
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/article_list/use'); ?>" class="pos">录用稿件</a>	
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/article_list/wait_check'); ?>" class="pos">待审稿件</a>	
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/article_list/refuses'); ?>" class="pos">拒收稿件</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 稿件管理 END -->
		<!-- 常用菜单 END -->
		
		<!-- 前台管理 Begin -->
			<p class="use">前台管理</p>

			<!-- 首页管理 Begin -->
			<div class="menu_box">
				<h2>首页管理</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/content/see/9')?>" class="pos">联系我们</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/comment/list/0')?>" class="pos">在线留言</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/author_center/list/0/27')?>" class="pos">常见疑问</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 首页管理 End -->

			<!-- 季刊介绍 Begin -->
			<div class="menu_box">
				<h2>季刊介绍</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/content/see/1')?>" class="pos">基本信息</a>
				        </li>
				    </ul>
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/content/see/2')?>" class="pos">季刊介绍</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/content/see/3')?>" class="pos">收录情况</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/content/see/4')?>" class="pos">文献计量指标</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 季刊介绍 Ended -->

			<!-- 编委会 Begin-->
			<div class="menu_box">
				<h2>编委会</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/content/see/5')?>" class="pos">编委会</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 编委会 End -->

			<!-- 作者中心 Begin -->
			<div class="menu_box">
				<h2>作者中心</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/author_center/list/0/14')?>" class="pos">作者指南</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 作者中心 End -->

			<!-- 审稿中心 Begin -->
			<div class="menu_box">
				<h2>审稿中心</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/author_center/list/0/17')?>" class="pos">审者指南</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 审稿中心 End -->

			<!-- 在线期刊 Begin -->
			<div class="menu_box">
				<h2>在线期刊</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/periodical/latest/0')?>" class="pos">最新录用</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/periodical/now/0')?>" class="pos">当期目录</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/periodical/next/0')?>" class="pos">下期目录</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/periodical/overdue/0')?>" class="pos">过刊浏览</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a class="pos">各年目次</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 在线期刊 End -->

			<!-- 下载中心 Begin -->
			<div class="menu_box">
				<h2>下载中心</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/dl_center/list/0')?>" class="pos">附件列表</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/dl_center/see/0')?>" class="pos">添加附件</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 下载中心 End -->

			<!-- 下载中心 Begin -->
			<div class="menu_box">
				<h2>友情链接</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/link/list/0/21')?>" class="pos">高等院校</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/link/list/0/22')?>" class="pos">研究院所</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/link/list/0/23')?>" class="pos">季刊与数据库</a>
				        </li>
				    </ul>
				    <ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/link/list/0/24')?>" class="pos">其他链接</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 下载中心 End -->

			<!-- 下载中心 Begin -->
			<div class="menu_box">
				<h2>期刊订阅</h2>
				<div class="text">
					<ul class="con">
				        <li class="nav_u">
				        	<a href="<?=site_url('admin/admin/content/see/8')?>" class="pos">期刊订阅</a>
				        </li>
				    </ul>
				</div>
			</div>
			<!-- 下载中心 End -->
		</div>
	<!-- 常用菜单 END -->

		

		<!-- 右侧 -->
		<div id="right">
			<iframe  frameboder="0" border="0" 	scrolling="yes" name="iframe" src="<?=site_url('admin/admin/remind/see');?>"></iframe>
		</div>
	<!-- 底部 -->
	<div id="foot_box">
		<div class="foot">
			<p>Copyright © 2018 数学季刊投稿系统 All Rights Reserved. 豫公网安备 41020302000011 号</p>
		</div>
	</div>

</body>
</html>
<!--[if IE 6]>
    <script type="text/javascript" src="./js/iepng.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('.adm_pic, #left_box .pos, .span_server, .span_people', 'background');
    </script>
<![endif]-->
