<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>河南大学数学季刊投稿系统</title>
    <link href="<?php echo base_url('style/admin');?>/css/alogin.css" rel="stylesheet" type="text/css" />
    <!-- <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js" type="text/javascript" charset="utf-8" async defer></script> -->
</head>
<body>
    <form id="form1" action="<?php echo site_url('admin/login/login_in')?>" method="post">
    <div class="Main">
        <ul>
            <li class="top"></li>
            <li class="top2"></li>
            <li class="topA"></li>
            <li class="topB">
                <img style="width: 140px" src="<?php echo base_url('style/admin');?>/images/login/logo.png" alt="河南河大文化艺术交流有限公司" />
           </li>
            <li class="topC"></li>
            <li class="topD">
                <ul class="login">
                    <li><span class="left">用户名：</span> <span style="left">
                        <input id="Text1" name="username" type="text" class="txt" required="required"/>  
                     
                    </span></li>
                    <li><span class="left">密 &nbsp;&nbsp;码：</span> <span style="left">
                       <input id="Text2" name="password" type="password" class="txt" required="required" />  
                    </span></li>
                         <li><span class="left">验证码：</span> <span style="left">
                    <input id="Text3" name="authcode" type="text" class="txtCode" required="required" />  
                    </span>
                    <span>
                        <a href="javascript:void(0)" onclick="document.getElementById('yanzhengma').src='<?php echo site_url('admin/login/authcode'); ?>/'+Math.random()">
                            <img  id="yanzhengma" src="<?php echo site_url('admin/login/authcode'); ?>/<?php echo rand(); ?>" style="right"/>
                        </a>
                    </span>
                    </li>   
                </ul>
            </li>
            <li class="topE"></li>
            <li class="middle_A"></li>
            <li class="middle_B">
                <p style="text-align: center;font-size: 16px;color: #01A0E9">河南大学数学季刊投稿系统</p>
            </li>
            <li class="middle_C">
            <span class="btn">
                <input type="submit" value="登录" id="submit">
            </span>
            </li>
            <li class="middle_D"></li>
            <li class="bottom_A"></li>
            <li class="bottom_B">
            河南大学数学与统计学院数学季刊投稿系统管理后台
            </li>
        </ul>
    </div>
    </form>
</body>
</html>