@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mg0aqa');
  src:  url('fonts/icomoon.eot?mg0aqa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mg0aqa') format('truetype'),
    url('fonts/icomoon.woff?mg0aqa') format('woff'),
    url('fonts/icomoon.svg?mg0aqa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
  content: "\e908";
}
.icon-bow:before {
  content: "\e904";
}
.icon-collsion:before {
  content: "\e905";
}
.icon-record:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-buy:before {
  content: "\e900";
}
.icon-index:before {
  content: "\e901";
}
.icon-mine:before {
  content: "\e902";
}
.icon-sale:before {
  content: "\e903";
}
