
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
  border: none;
  font-size: 1.1em;
  height: 35px;
  line-height: 35px;
  padding: 5px;
  color: #333333;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", Arial, Verdana, sans-serif;
  outline: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}

textarea {
  outline: none;
  border: none;
  resize: none;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input[type=text]:active,
input[type=password]:active,
textarea:active,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border: none;
  background: #ffffff;
  outline: none;
}
::-webkit-input-placeholder {
  -webkit-text-fill-color: #bdbdbd;
}
::-moz-placeholder {
  color: #dddddd;
}
input:-ms-input-placeholder {
  color: #dddddd;
}
textarea:-ms-input-placeholder {
  color: #dddddd;
}

.publish-article-title {
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.title-tips {
  font-weight: bold;
  margin-bottom: 3px;
}
.publish-article-content {
  padding: 15px;
  background: #fff;
}
.publish-article-content .article-content {
  height: 330px;
  border-bottom: 1px solid #ccc;
  font-size: 1.1em;
}
.publish-article-content .footer-btn .upload-img,.upload-emoji {
  display: inline-block;
  vertical-align: bottom;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.publish-article-content .footer-btn .upload-img{
  background: url(../img/icon/imageurl.png) 0 no-repeat;
  background-size: 100%;

}
.upload-emoji {
  background: url(../img/icon/facesmile.png) 0 no-repeat;
  background-size: 100%;
}
.publish-article-btn{float: left;font-size: 1.5em; position: relative;}
/*botton*/
.editor_button input{color: #fff;font-size: 1.6em;border-radius: 0px;background: #0385FF;}
/*eidtor_span*/
.editor_span ul li{float: left;margin: 10px;color: #fff;}
.editor_span_item{display: block;padding: 5px 5px;font-size: 1.0em;border: 1px solid #fff;border-radius: 10px;background: #959595;cursor: pointer;}
.editor_active{background: #4C8CF5;box-shadow: 0 0 10px #4C8CF5;}
