<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title><?=$title?></title>

<link type="text/css" rel="stylesheet" href="/style/404/css/404.css">

</head>
<body>

<div id="wrap">
	<div>
		<img src="/style/404/css/404.png" alt="404">
	</div>
	<h2><?=$str?></h2>
	<div id="text">
		<strong>

			<a href="<?=base_url()?>">返回首页</a>
			<a href="javascript:history.back()">返回上一页</a>
		</strong>
	</div>
</div>

<div class="animate below"></div>
<div class="animate above"></div>



</body></html>
