<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>首页广告管理</title>
    <link rel="stylesheet" href="/style/admin/css/pintuer.css">
    <link rel="stylesheet" href="/style/admin/css/admin.css">
    <script src="/style/admin/js/jquery.js"></script>
    <script src="/style/admin/js/pintuer.js"></script>
</head>

<body>
<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder">首页广告</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
              <a  class="button border-main icon-plus" href="<?=site_url('admin/usedCar/advertisement_manage/add/0')?>"> 添加新项</a>
                <!-- <li>用户类型：</li> -->
                <!-- <if condition="$iscid eq 1">
                    <li>
                        <select name="cid" class="input" style="width:200px; line-height:17px;" onchange="changetype(this)">
                            <option value="">请选择排序</option>
                            <option value="经纪人">经纪人</option>
                            <option value="商家">商家</option>
                        </select>
                    </li>
                </if> -->
                <!-- <li>
                    <input type="text" placeholder="请输入搜索关键字" name="keywords" class="input" style="width:450px; line-height:17px;display:inline-block" value="<?=isset($keywords)?$keywords:''?>"/>
                    <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()"> 搜索</a></li> -->
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>

                <th>图片</th>
                <th>描述</th>
                <th>指向链接</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="vo">
                <?php foreach($adver as $u):?>
                <tr>

                    <td><img src="<?=$u['img']?>" alt="" height="200"></td>
                    <td><?=$u["content"]?></td>
                    <td><a href="<?=$u['url']?>"><?=$u['url']==""?"无":$u['url']?></a></td>
                    <td>
                        <div class="button-group">
                            <a class="button border-main" data-id="<?=$u['id']?>" href="<?=site_url('admin/usedCar/advertisement_manage/edit/'.$u['id'])?>"><span class="icon-plus"></span> 编辑</a>
                            <a class="button border-red " data-id="<?=$u['id']?>" href="javascript:del(<?=$u['id']?>)"><span class="icon-trash-o"></span> 删除</a>
                        </div>
                    </td>
                </tr>
                <?php endforeach;?>
                <tr>
                    <td colspan="8">

                    </td>
                </tr>

            </volist>
        </table>
    </div>
</form>
<script type="text/javascript">
    function changetype(the){
        location.href = "<?=site_url('admin/monitor/user_list/')?>"+the.value;
    }
    //搜索
    function changesearch() {
        var keywords = $.trim($('input[name="keywords"]').val());
        if(keywords.length == 0){
            alert('请输入关键字');
        }else{
            location.href="<?=site_url('admin/monitor/user_search/')?>"+keywords;
        }

    }
    function del(id) {
      $.get("<?=site_url('admin/usedCar/advertisement_manage/delete/')?>"+id , function(data) {
        if(data.code==200){
          alert("删除成功")
          location.reload();
        }
      },"json")
    }
    //单个封号与解封
    function forbidden(id, status) {
        var str = status == 0?'您确定要解封该用户吗':'您确定要封禁该用户吗';
        if (confirm(str)) {
            location.href="<?=site_url('admin/admin/forum_user_action/forbidden/')?>"+id+'/'+status;
        }
    }







</script>
</body>

</html>
