<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <title>货卡之家</title>
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading">编辑广告</div>
  <div class="col-sm-6 panel-body" >
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="link" class="col-sm-2 control-label">描述</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="content" placeholder="请输入描述" value="<?=$res['content']?>">
        </div>
      </div>
      <div class="form-group">
        <label for="file" class="col-sm-2 control-label">链接</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="url" value="<?=$res['url']?>" placeholder="请输入链接"  id="file">
        </div>
      </div>

      <div class="form-group">
          <label for="file" class="col-sm-2 control-label">图片</label>
          <div class="col-sm-10">
            <input type="file" id="file">
          </div>
      </div>
      <div class="form-group" id="divpic">
        <label for="pic" class="col-sm-2 control-label">封面预览：</label>
        <div class="col-sm-10">
        <div  id="pic"  style="background-color:#aaa;width:100px;height:100px;">
        <img src="<?=$res['img']?>" style="width:100px;height:100px;" id="img"/></div>
      </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 ">
          <div class="row">
            <button type="submit" class="btn btn-primary submit_btn">发布</button>
            <a type="" href="javascript:history.go(-1)" class="col-sm-offset-1 btn btn-default ">返回</a>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<script>
//压缩图片

function compressImage(img, fileSize, quality) {

    quality = quality || 0.2;
    if(fileSize > 1){ //大于1M 对图片进行压缩
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext('2d');
        var tCanvas = document.createElement("canvas");
        var tctx = tCanvas.getContext("2d");
        var initSize = img.src.length;
        var width = img.width;
        var height = img.height;
        var ratio;
        if ((ratio = width * height / 4000000) > 1) {
            ratio = Math.sqrt(ratio);
            width /= ratio;
            height /= ratio;
        } else {
            ratio = 1;
        }
        canvas.width = width;
        canvas.height = height;
        ctx.fillStyle = "#fff";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        var count;
        if ((count = width * height / 1000000) > 1) {
            count = ~~(Math.sqrt(count) + 1);
            var nw = ~~(width / count);
            var nh = ~~(height / count);
            tCanvas.width = nw;
            tCanvas.height = nh;
            for (var i = 0; i < count; i++) {
                for (var j = 0; j < count; j++) {
                    tctx.drawImage(img, i * nw * ratio, j * nh * ratio, nw * ratio, nh * ratio, 0, 0, nw, nh);
                    ctx.drawImage(tCanvas, i * nw, j * nh, nw, nh);
                }
            }
        } else {
            ctx.drawImage(img, 0, 0, width, height);
        }
        var data = canvas.toDataURL('image/jpeg', quality);
        tCanvas.width = tCanvas.height = canvas.width = canvas.height = 0;
        return data;
    }else{
        return img.src;
    }

}
    haspost = false ;

$('input[type="file"]').on('change', function(e){
    //$.showLoading('正在上传');

    haspost = true ;
    var _this = $(this);
    // var info = _this.next().html(); //p标签里的内容
    // var parent = _this.parent();
    // var grandpa = parent.parent();
    var file = e.target.files[0];
    var img = new Image();
    var reader = new FileReader();

    haspost = true ;

    reader.onload = function(f){
        img.src = f.target.result;
        setTimeout(function(){
            var imageData = compressImage(img, Math.ceil(file.size / 1024 / 1024));

            $.post('/admin/news/uploadImage', {image: imageData}, function(data){
                if(data.code == 200){
                  if(haspost){
                    $("#divpic").children().remove() ;

                  }
                  var html = '<label for="pic" class="col-sm-2 control-label">封面预览：</label>';
                  html += '<div class="col-sm-10">';
                  html += '<div  id="pic"  style="background-color:#aaa;width:100px;height:100px;">';
                  html += '<img src="' + data.data.path + '" style="width:100px;height:100px;" id="img"/></div></div>';
                  $('#divpic').append(html);
                }else{
                }
            }, 'json');
        }, 10);
    };

    reader.readAsDataURL(file);
});
$('.submit_btn').click(function(e){
  //var uri = '/admin/news/publish
    e.preventDefault();
  var content = $.trim($('input[id="content"]').val());
  var url = $.trim($('input[id="url"]').val());
  var img = $('#img').attr('src');
  var patt =/^(http(s?):\/\/.*)|(#)$/

  if(  !patt.test(url)  ){
    alert("链接非法");
    return ;
  }
  if( content==""   ){
    alert("描述不能为空");
    return ;
  }
  if(   typeof(img)=="undefinded"   ){
    alert("图片不能为空");
    return ;
  }

  $.post('/admin/usedCar/advertisement_manage/doedit/0',{
    content:content ,
    url : url ,
    img:img
  }, function(data){
      if(data.code == 200){
        alert('发布成功');
        history.go(-1)
      }else{
        alert('发布失败');
      }
  }, 'json');

})
</script>
</body>
</html>
