<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>二手车用户列表</title>
    <link rel="stylesheet" href="/style/admin/css/pintuer.css">
    <link rel="stylesheet" href="/style/admin/css/admin.css">
    <script src="/style/admin/js/jquery.js"></script>
    <script src="/style/admin/js/pintuer.js"></script>
</head>

<body>
<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 论坛用户列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li>用户类型：</li>
                <if condition="$iscid eq 1">
                    <li>
                        <select name="cid" class="input" style="width:200px; line-height:17px;" onchange="changetype(this)">
                            <option value="">请选择排序</option>
                            <option value="个人">个人</option>
                            <option value="经纪人">经纪人</option>
                            <option value="商家">商家</option>
                        </select>
                    </li>
                </if>
                <li>
                    <input type="text" placeholder="请输入搜索关键字" name="keywords" class="input" style="width:450px; line-height:17px;display:inline-block" value="<?=isset($keywords)?$keywords:''?>"/>
                    <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()"> 搜索</a></li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th>姓名</th>
                <th>地址</th>
                <th>手机号</th>
                <th>申请类型</th>
                <th>申请时间</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="vo">
                <?php foreach($apply as $a):?>
                <tr>
                    <td><?=$a['realname']?></td>
                    <td>
                        <?=$a['address']?>
                    </td>
                    <td><?=$a['phone']?></td>
                    <td><?=$a['type']?></td>
                    <td><?=date('Y-m-d H:i:s', $a['create_time'])?></td>
                    <td>
                        <div class="button-group">
                            <a class="button border-main" href="<?=site_url('usedcar/see/'.$a['id'])?>"><span class="icon-eye"></span> 查看</a>
                        </div>
                    </td>
                </tr>
                <?php endforeach;?>


                <tr>
                    <td colspan="8">
                        <div class="pagelist"> <?=$link?> </div>
                    </td>
                </tr>

            </volist>
        </table>
    </div>
</form>
<script type="text/javascript">
    function changetype(the){
        location.href = "<?=site_url('admin/monitor/user_list/')?>"+the.value;
    }
    //搜索
    function changesearch() {
        var keywords = $.trim($('input[name="keywords"]').val());
        if(keywords.length == 0){
            alert('请输入关键字');
        }else{
            location.href="<?=site_url('admin/monitor/user_search/')?>"+keywords;
        }

    }

    //单个封号与解封
    function forbidden(id, status) {
        var str = status == 0?'您确定要解封该用户吗':'您确定要封禁该用户吗';
        if (confirm(str)) {
            location.href="<?=site_url('admin/admin/forum_user_action/forbidden/')?>"+id+'/'+status;
        }
    }

    //全选
    $("#checkall").click(function() {
        $("input[name='id[]']").each(function() {
            if (this.checked) {
                this.checked = false;
            } else {
                this.checked = true;
            }
        });
    })

    //批量删除
    function DelSelect() {
        var Checkbox = false;
        $("input[name='id[]']").each(function() {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {
            var t = confirm("您确认要删除选中的内容吗？");
            if (t == false) return false;
            $("#listform").submit();
        } else {
            alert("请选择您要删除的内容!");
            return false;
        }
    }

    //批量排序
    function sorts() {
        var Checkbox = false;
        $("input[name='id[]']").each(function() {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {

            $("#listform").submit();
        } else {
            alert("请选择要操作的内容!");
            return false;
        }
    }


    //批量首页显示
    function changeishome(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function() {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {

            $("#listform").submit();
        } else {
            alert("请选择要操作的内容!");

            return false;
        }
    }

    //批量推荐
    function changeisvouch(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function() {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {


            $("#listform").submit();
        } else {
            alert("请选择要操作的内容!");

            return false;
        }
    }

    //批量置顶
    function changeistop(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function() {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {

            $("#listform").submit();
        } else {
            alert("请选择要操作的内容!");

            return false;
        }
    }


    //批量移动
    function changecate(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function() {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {

            $("#listform").submit();
        } else {
            alert("请选择要操作的内容!");

            return false;
        }
    }

    //批量复制
    function changecopy(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function() {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {
            var i = 0;
            $("input[name='id[]']").each(function() {
                if (this.checked == true) {
                    i++;
                }
            });
            if (i > 1) {
                alert("只能选择一条信息!");
                $(o).find("option:first").prop("selected", "selected");
            } else {

                $("#listform").submit();
            }
        } else {
            alert("请选择要复制的内容!");
            $(o).find("option:first").prop("selected", "selected");
            return false;
        }
    }
</script>
</body>

</html>