<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>开发日志</title>
    <link rel="stylesheet" href="/style/admin/css/pintuer.css">
    <link rel="stylesheet" href="/style/admin/css/admin.css">
    <script src="/style/admin/js/jquery.js"></script>
    <script src="/style/admin/js/pintuer.js"></script>
</head>

<body>
    <div class="head x10 x2-move">
        <h1 class="date">9月3日<small class="text-big"> : </small><small class=""></small></h1>
    </div>
    <div class="x8 x2-move ">
        <p class="text-left text-default">今日任务:</p>
        <p class="text-primary  text-left border-blue" style="margin-left: 50px">基于localStorage的浏览记录</p>
    </div>
    <div class="head x10 x2-move">
        <h1 class="date">9月10日<small class="text-big"> : </small><small class=""></small></h1>
    </div>
    <div class="x8 x2-move ">
        <p class="text-left text-default">今日任务:</p>
        <p class="text-primary  text-left border-blue" style="margin-left: 50px">二手车车辆查看页面的改进</p>
    </div>

</body>
</html>