body{
    background-color: #fff;
}

a{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.header{
    height: 40px;
    width: 100%;
    background-color: #fff;
}
.header .logo{
    float: left;
    width: 20%;
    height: 100%;
    background: #FFF;
}
.header .logo img{
    width: 100%;
    height: 100%;
    
}
.header .searchbox{
    background: #ffffff;
    overflow: hidden;
    float: left;
    width: 65%;
    height: 100%;
}

 .fullscreen-search{
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    z-index: 10000;
    background: #fff;
}
 .fullscreen-search .hot{
    padding-bottom: 20px;
    padding-top: 5px;
    background: #fff;
 }
 .fullscreen-search h1{
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    padding-left: 30px;
    font-weight: normal;
    color: #666;
    background: #fff;

 }
  .fullscreen-search .input{
    width: 80%;
    float:left;
    height: 40px;
   padding: 5px 0  0 10px;
  }
  .fullscreen-search .input input{
    float:left;
    padding-left: 20px;
    height: 26px;
    width: 90%;
    border-radius: 5px;
    border: 1px #ccc solid;
    width: 80%;
  }
    .fullscreen-search .input  label{
        position: absolute;
        left: 15px;
        top: 8px
    }
  .fullscreen-search .search_cancel{
    color: #ff7640;
   position: absolute;
   top: 5px;
   right: 10px;
    line-height: 26px;
    font-size: 12px;
    width: 20%;
    margin-left: 3px;
    border-radius: 5px;
    display: block;
    border:1px #ccc solid;
    text-align: center;
   
   
  }

  .fullscreen-search .hot .hot_item{
    float:left;
    padding: 0 10px 0 10px ;
    font-size: 14px;
    border-radius: 5px;
    border: 1px #ccc solid;
    color: #555;
    margin-left: 20px;
    margin-top: 10px;
  }
  .select-city {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    display: none;
    left: 100%;
    z-index: 1001;
    top: 0;
    overflow-y: scroll;
  }
  li{
    list-style: none;
  }
.select-city .letter{
    position: fixed;
    right: 10px;
    top: 45px;
    font-size: 12px;

}
.select-city .letter a{
    color: #ff9b73;
    font-size: 12px;
}

  .select-city .city-input{
    height: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
    padding: 5px 0 0 10px;
    border-bottom: 1px #ccc solid;
  }
  .select-city .city-input input{
    height: 25px;
    width: 80%;
    border-radius: 5px;
    border: 1px #ccc solid;
    padding-left: 20px;

  }
  .select-city .city-input label{
    position: absolute;
    color: #555;
    left: 15px;
  }
  .select-city .city-input label i{
    color: #999
  }
  .select-city .city-input a{
    font-size: 14px;
    color: #ff4900
  }
.select-city .container{
    background: #fff;
    width: 100%;
}
.select-city .container .city-letter{
    display: block;
    background: #fff;
    color: #ff7640;
    width: 95%;
    line-height: 40px;
    margin:0 auto;
    border-bottom: 1px #ccc solid;
}
.select-city .container p{
    line-height: 30px;
    font-size: 12px;
    color: #888;
    border-bottom: 1px #eee solid;
    margin-left: 20px;
    width: 80%;

}

 .weui_search_bar#search_bar{
    height: 100%;
    padding: 5px 0 5px 0;
    background: #fff;
}
 .weui_search_bar#search_bar .weui_search_text#search_text{
    background: #eee;
    border-radius: 10px
 }
.header .select-adress{
    text-align: center;
    font-size: 12px;
    line-height: 40px;
}
.header .select-adress .adress{
    color: #888;
}
.header .select-adress .fa{
    color: #aaa;
}











*{
    font-size:13px;
}
html,body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
    font-size:13px;
}
body{ 
    position: relative;
    color: #555
}
.main_head{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #CCCCCC;
}
.main_head .element{
    width: 25%;
    float: left;
    text-align: center;
    line-height: 30px;
}
.main_head .element i{
    color: #999999;
}

.mask_layer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;

    z-index: 888;
    background: black;
    opacity: 0.5;
    display: none;
}

.choice_form{
    background-color: #F5F5F5;
    height: 100%;
    position: fixed;
    top: 0;
    margin-left: 100%;
    margin-top: 0;
    width: 75%;
    z-index: 99999;
    color: #777;
}
.caption{
    height: 30px;
    line-height: 30px;
    background: white;
}
.caption span{
    float: left;
    margin-left: 10px;
}
.caption h4{
    text-align: center;
}
.nozv{
    padding: 10px;
    margin-top: 0;
}
.choice_form span{
    line-height: 30px;
}
.choice_form>p{
    line-height: 30px;
    margin-left: 10px;
}
.nozv label.weui_cell.weui_check_label{
    width: auto;
    float: left;
    margin:5px 0 0 5px;
    height: 12px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
.nozv label.weui_cell.weui_check_label.cheked{
    border:1px #ff5900 solid;
    color: #ff5900;
}
.access{
    width: 100%;
    
}
.content{
    float: left;
    width: 85%;
}

.check-option-box{
    width: 100%;
    position: relative;
}
.check-option-box .checked-items{
    background: #eee;
    width: 100%;
    padding: 5px 0 5px 0;
    
}
.check-option-box .checked-items .checked-item{
    padding: 5px 10px ;
    color:#777;
    border: 1px #ccc solid;
    display: inline-block;
    border-radius: 5px;
    margin: 5px 0 5px 5px;
    background: #fff;
}
.check-option-box .checked-items .checked-item i{
    color: #ff8240;
    font-weight: normal;
    border-radius: 50%;
    margin-left: 0px;
    font-size: 16px;
    line-height: 20px;

}
.check-option-box .replace{
    float: right;
    display: none;
    margin:5px 32px 0  0;
    top: 0;
    right: 0;
    z-index: 500;
    /*background: rgba(248,62,91,.1);*/
    background: #fff;
    font-size: 12px;
    color: #ff7400;
    border: 1px #FF6724 solid;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    
    
}
.checked-items.weui-cell{
    padding: 0;
}


.lovebox{
    border-top: 1px #ccc solid;
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
}
.lovebox .loves{
    width: 98%;
    margin: 0 auto;
}

.lovebox .loves .empty{
    padding: 20px;
}
.lovebox .loves .love{

    padding: 5px 0 5px 0;
    color: #333;
}
.lovebox .loves .love .thumb{
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.lovebox .loves .love .thumb img{
    width: 80px;
    height: 80px;
}
.lovebox .loves .love .car-name,.lovebox .loves .love .car-type{
    font-size: 14px;
}
.lovebox .loves .love  .date{
    margin-left: 10px;
    font-size: 14px;
    float: left;
}
.lovebox .loves .love  .adress{
    margin-left: 20px;
    font-size: 12px;
    float: left;
}
.lovebox .loves .love  .adress:before{
    content: '地址：';
}
.lovebox .loves .love .message{
    margin-left: 10px;
    font-size: 16px;
}
.lovebox .loves .love .other{
    margin-left: 10px;
}
.lovebox .loves .love .other .price{
    color: #FF6666;
    font-weight: bold;
}
.lovebox .loves .love .other .delete{
    display: block;
    text-align: center;
    height: 20px;
    width: 20px;
    border: 1px #ccc solid;
    float: right;
    color: #777;
}