<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>附近车辆信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/style/monitor/css/car_info.css">
    <link rel="stylesheet" href="/style/monitor/css/monitor.css">
    <link rel="stylesheet" href="/style/common/common.css">
    <style>
        .page_input{
            width: 30px;
            margin-right: 5px;
            border-radius: 3px;
            border: 1px solid #4c5161;
            height: 20px;
            padding: 0 2px;
        }

    </style>
</head>
<body>
<div class="weui-panel weui-panel_access" style="background:white">
    <a class=""  href="javascript:windw.history.go(-1)" style="display:block ; position: absolute;;background-color:white ;border:1px #888 solid; padding:10px">
      返回
    </a>
    <div class="weui-panel__hd text-center dark middlefont " style="background:#2486ff ;font-weight: bold ; color:white" >附近车辆</div>
    <!--单个项目  -->
    <div class="weui-media-box weui-media-box_appmsg"  style="display:none" id="model" height:"100">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb car_img" src="">
        </div>
        <div class="weui-media-box__bd">
            <p class="weui-media-box__title">
                <button data-lon="" data-lat="" class="location weui-btn weui-btn_mini weui-btn_plain-primary blue" style="border-color:#00a5e0;">查看位置</button><span></span>
                <button data-vid="" class="connect weui-btn weui-btn_mini weui-btn_plain-primary blue" style="border-color:#00a5e0;">联系车主</button>
            </p>
            <p class="weui-media-box__desc info">车牌号： <span class="vno"></span>&emsp; 车型： <span class="type"></span> <br>定位时间： <span class="lastpositiondate"></span> </p>
          <p style="font-size:12px; " class="info">   联系电话:<span class="phonenum">******</span> </p>
        </div>
    </div>
    <div class="weui-panel__bd">

    </div>
    <!--分页-->
    <form action="<?=site_url('monitor/seek_car')?>" method="post">
        <div class="weui-btn-area">
            <input type="hidden" name="str" value="<?=$str?>">
            <input type="hidden" name="pageNum" value="<?=($page+1)?>">
            <!-- <button type="submit" class="weui-btn weui-btn_primary">下一页</button> -->
        </div>
    </form>
    <!--跳转到第几页-->
    <div style="margin-top: 20px;">
        <input type="hidden" name="str" value="<?=$str?>">
        <div class="weui-flex" style="padding: 0 15px;">
            <!-- <div class="weui-flex__item" style="text-align: right">跳转到第：<input type="number" name="pageNum" id="gotopage" class="page_input" value="1">页</div> -->
            <!-- <div class="weui-flex__item"><button type="submit" class="weui-btn weui-btn_mini weui-btn_primary" style=" background: #00a5e0; width: 60%;">跳转</button></div> -->
            <div class="weui-flex__item" style="padding-left:20%"><button type="submit" class="weui-btn weui-btn_mini weui-btn_primary"  id="lastpage" style=" background: #00a5e0;  20%; width: 60%; font-size:20px;"><</button></div>
            <div class="weui-flex__item" style=""><button type="submit" class="weui-btn weui-btn_mini weui-btn_primary" id="nextpage" style=" background: #00a5e0; width: 60%; font-size:20px;">></button></div>
        </div>
        <div class="weui-cells__title" style="text-align: center">当前为第<span id="pagenow">1</span> 页, 共<span id="pagesum"></span>页 , <span id="itemsum"></span>辆</div>
    </div>

    <div id="result" class="weui-popup__container">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="result" style="margin-top: 150px">
                <p class="title">查询结果</p>
                <div class="result_info">
                    <p>车主电话：<a class="#2486ff" id="phone"></a></p>
                    <p>车主姓名：<span class="#4c5161" id="name">王浩鹏</span></p>
                    <p>车牌号码：<sapn calss="#4c5161" id="car_number"></sapn></p>
                    <p>车牌颜色：<span id="color">黄色</span></p>
                    <p class="result_tip">查询结果请截图保存</p>
                </div>
            </div>
            <div style="padding: 0 15px; margin-top: 50px">
                <a href="javascript:void(0);" class="weui-btn weui-btn_primary close-popup" style="background:#00a5e0;" data-target="result">返回</a>
            </div>

        </div>

    </div>

</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=jAhvocUWT3VAlMWA8EKOQwQhPT0aKq0t"></script>

<script>
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<?=$appId?>', // 必填，公众号的唯一标识
        timestamp: '<?=$timestamp?>', // 必填，生成签名的时间戳
        nonceStr: '<?=$nonceStr?>', // 必填，生成签名的随机串
        signature: '<?=$signature?>',// 必填，签名，见附录1
        jsApiList: [
            'openLocation',
            'getLocation'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    window.cars = JSON.parse('<?=$car?>');

    //查看位置
    $('.weui-panel').on('click', '.location', function(e){
        e.stopPropagation();
        var lat = $(this).attr('data-lat');
        var lon = $(this).attr('data-lon');
        var myGeo = new BMap.Geocoder();
        // 根据坐标得到地址描述
        myGeo.getLocation(new BMap.Point(lon, lat), function(result){
            if (result){
                wechat_map(lon, lat, result.address);
            }else{
                wechat_map(lon, lat, '');
            }
        });
    });

    //微信内置地图获取位置信息
    function wechat_map(lon, lat, address){
        wx.ready(function() {
            wx.openLocation({
                latitude: lat, //维度
                longitude: lon, //经度
                name: '',
                address: address,
                scale: 15,
                infoUrl: 'http://www.jxhkzj.com'
            });
        });
    }
    //获取车主联系方式
    $('.weui-panel').on('click', '.connect', function(e){
        e.stopPropagation();
        $.showLoading('正在查询');
        var vid = $(this).attr('data-vid');
        $.confirm("本次查询将消耗2货卡币，你将获得车主联系电话，车主姓名，及车牌号码等相关信息！", '温馨提示', function(){

            //$.alert(vid);return;
            $.post('/monitor/driver_info', {vid: vid}, function(data){
                if(data.code == 200){
                    $.hideLoading();
                    $.toptip('查询成功', 'success');
                    set_data(data.data);

                    $('#result').popup();
                }else if(data.code == 410){ //提醒充值货卡币
                    $.alert('货卡币余额不足，为了方便您的查询，请及时充值', '温馨提示', function(){
                        window.location.href="/monitor/recharge";
                    });
                } else{
                    $.hideLoading();
                    $.toptip(data.message, 'error');
                }
            }, 'json');
        }, function(){
            $.hideLoading();
            $.toptip('您取消了联系车主操作，将不消耗货卡币！', 'warning');
        });
    });

    //填充数据
    function set_data(data){
        $('#car_number').html(data.vehicleno);
        if( data.platecolorid == 1){
            $('#color').css('color', '#2486ff');
            $('#color').html('蓝色');
        }else{
            $('#color').css('color', '#f28c48');
            $('#color').html('黄色');
        }
        $('#name').html(data.vehicleOwnerName);
        $('#phone').html(data.vehicleOwnerPhone);
        $('#phone').attr('href', 'tel:'+data.vehicleOwnerPhone)
    }

    //判断是否还有更多数据
    if($('.weui-media-box').length < 100){
        $('.no_more').css('display', 'block');
        $('form').css('display', 'none');
    }

    //添加历史记录 用户点击返回键直接进入找车页面
    history.pushState(null, null, '<?=site_url("monitor/seek_car")?>');
</script>
<script>
    function get_address(){

    }
</script>
<script src="/style/monitor/js/findcar.js" charset="utf-8"></script>
</html>
