<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>202自主创新实验室学生信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css">
    <style>td, th{text-align: center}</style>
</head>
<body>
<table class="ui-table">
    <tr><td colspan="4" align="center">共<?=count($students)?>人</td></tr>
    <tr>
        <!--<th style="text-align: center" scope="col">ID</th>-->
        <th style="text-align: center" scope="col">姓名</th>
        <th style="text-align: center" scope="col">班级</th>
        <th style="text-align: center" scope="col">组别</th>
        <th style="text-align: center" scope="col">专业</th>
    </tr>
    <?php foreach($students as $s):?>
    <tr>
        <!--<td><?=$s['id']?></td>-->
        <td><?=$s['name']?></td>
        <td><?=$s['class']?></td>
        <td><?=$s['group']?></td>
        <td><?=$s['major']?></td>
    </tr>
    <?php endforeach;?>
</table>
</body>
</html>