<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆监控—货卡之家</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="//qidian.gtimg.com/lulu/theme/peak/css/common/color.css">
    <link rel="stylesheet" href="/style/monitor/css/mappage.css">
</head>
<body>
  <div class="weui-row">
    <div class="weui-col-100 mapbox" id="mapbox" style="height:600px" >
    </div>

  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=256b6bc8ce6a46ef21d037566f4191d1"></script>

  <script type="text/javascript">


  </script>
</html>
