<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>进度</title>
    <link rel="stylesheet" href="/style/admin/css/pintuer.css">
    <link rel="stylesheet" href="/style/admin/css/admin.css">
    <script src="/style/admin/js/jquery.js"></script>
    <script src="/style/admin/js/pintuer.js"></script>
</head>
<body>
    <div class="panel">
        <div class="panel-head">
            <h3> <strong>开发进度计划</strong></h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover ">
                <tbody class="border-small border-bottom">
                <tr >
                    <th class="x1 border-left-right border-top">序号</th>
                    <th class="x4 border-left-right border-top">开发模块 </th>
                    <th class="x2 border-left-right border-top">预计完成时间</th>
                    <th class="x1 border-left-right border-top text-center">状态</th>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">1</td>
                    <td class="x4 text-center border-left-right border-top ">车辆监控</td>
                    <td class="x2 text-center border-left-right border-top ">---</td>
                    <td class="x1 text-center border-left-right border-top  text-green"> <i class="icon icon-check"></i>已完成</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">2</td>
                    <td class="x4 text-center border-left-right border-top ">司机群</td>
                    <td class="x2 text-center border-left-right border-top ">---</td>
                    <td class="x1 text-center border-left-right border-top  text-green"> <i class="icon icon-check"></i>已完成</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">3</td>
                    <td class="x4 text-center border-left-right border-top ">二手车</td>
                    <td class="x2 text-center border-left-right border-top ">11.5</td>
                    <td class="x1 text-center border-left-right border-top  text-green"> <i class="icon icon-check"></i>已完成</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">4</td>
                    <td class="x4 text-center border-left-right border-top ">货源信息</td>
                    <td class="x2 text-center border-left-right border-top ">11.5</td>
                    <td class="x1 text-center border-left-right border-top  text-green"> <i class="icon icon-check"></i>已完成</td>

                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">5</td>
                    <td class="x4 text-center border-left-right border-top ">挂车</td>
                    <td class="x2 text-center border-left-right border-top ">10.28</td>
                    <td class="x1 text-center border-left-right border-top text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">6</td>
                    <td class="x4 text-center border-left-right border-top ">新车</td>
                    <td class="x2 text-center border-left-right border-top ">10.28</td>
                    <td class="x1 text-center border-left-right border-top text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">7</td>
                    <td class="x4 text-center border-left-right border-top ">配件商城</td>
                    <td class="x2 text-center border-left-right border-top ">11.4</td>
                    <td class="x1 text-center border-left-right border-top  text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">8</td>
                    <td class="x4 text-center border-left-right border-top ">司机招聘</td>
                    <td class="x2 text-center border-left-right border-top ">11.4</td>
                    <td class="x1 text-center border-left-right border-top  text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">9</td>
                    <td class="x4 text-center border-left-right border-top ">车辆维修</td>
                    <td class="x2 text-center border-left-right border-top ">11.11</td>
                    <td class="x1 text-center border-left-right border-top  text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">10</td>
                    <td class="x4 text-center border-left-right border-top ">卡友喜好</td>
                    <td class="x2 text-center border-left-right border-top ">11.11</td>
                    <td class="x1 text-center border-left-right border-top  text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">11</td>
                    <td class="x4 text-center border-left-right border-top ">商家入驻</td>
                    <td class="x2 text-center border-left-right border-top ">11.18</td>
                    <td class="x1 text-center border-left-right border-top  text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">12</td>
                    <td class="x4 text-center border-left-right border-top ">新闻资讯</td>
                    <td class="x2 text-center border-left-right border-top ">11.18</td>
                    <td class="x1 text-center border-left-right border-top  text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">13</td>
                    <td class="x4 text-center border-left-right border-top ">养车护车</td>
                    <td class="x2 text-center border-left-right border-top ">11.25</td>
                    <td class="x1 text-center border-left-right border-top  text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">14</td>
                    <td class="x4 text-center border-left-right border-top ">卡友互助</td>
                    <td class="x2 text-center border-left-right border-top ">11.25</td>
                    <td class="x1 text-center border-left-right border-top  text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">15</td>
                    <td class="x4 text-center border-left-right border-top ">交易记录</td>
                    <td class="x2 text-center border-left-right border-top ">12.2</td>
                    <td class="x1 text-center border-left-right border-top text-red"><i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">16</td>
                    <td class="x4 text-center border-left-right border-top ">平台活动</td>
                    <td class="x2 text-center border-left-right border-top ">12.2</td>
                    <td class="x1 text-center border-left-right border-top  text-red"> <i class="icon icon-times"></i> 未开发</td>
                </tr>
                <tr>
                    <td class="x1 text-center border-left-right border-top text-red">17</td>
                    <td class="x4 text-center border-left-right border-top ">项目总体测试</td>
                    <td class="x2 text-center border-left-right border-top ">12.20</td>
                    <td class="x1 text-center border-left-right border-top  text-red"> <i class="icon icon-times"></i> 未开发</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
