<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <?php include("commonhead.html")?>
    <link rel="stylesheet" href="/style/driverhire/css/dist.css">
  </head>
  <body>
  <div class="pageheader text-center " style="background:white">
    <span class="fa fa-arrow-left big-font  text-grey border-small" style="position:absolute;left:0;" onclick="javascript:history.go(-1)"></span>
    <p  class="text-grey" style="">发布招聘</p>
  </div>
<form class="weui-cells weui-cells_form" id = "form" name ="distform" action="/driverhire/distform" method="post" >
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label"><span class="orange">*</span>职位名:</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input"  name="postname" placeholder="请输入职位名">
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label"><span class="orange">*</span>月薪:</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input"  name="salary"   placeholder="请输入月薪（元）">
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label"><span class="orange">*</span>工作地:</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input"  name="address" placeholder="选择地区" id="city-picker">
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label"><span class="orange">*</span>联系人名字:</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" name="name" placeholder="请输入您的名字">
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label"><span class="orange">*</span>联系电话:</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" type="tel" name = "telphone"  placeholder="请输入您的电话">
    </div>
  </div>
  <!-- <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label"><span class="orange">*</span>手机验证码:</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" name="capt"  placeholder="输入验证码">
      <img src="" width="" height="" alt="">
    </div>
  </div> -->
  <div class="weui-cell">
    <div class="weui-cell__bd">
      <div class="weui-uploader">
        <div class="weui-uploader__hd">
          <p class="weui-uploader__title">图片描述：</p>

        </div>
        <div class="weui-uploader__bd">
          <div class="weui-uploader__input-box">
            <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label"><span class="orange">*</span>驾照要求:</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" name="level" placeholder="请输入驾照等级">
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd">
      <div class="">
          <label class="weui-label"><span class="orange"></span>要求:</label>
      </div>
      <div class="">
        <textarea class="weui-textarea" name="request" placeholder="这里填写入职条件" rows="3"></textarea>
      </div>
    </div>
  </div>

</form>
<div class="weui-flex">
  <div class="weui-flex__item"></div>
<div class="weui-flex__item "><a href="javascript:;" class="weui-btn weui-btn_primary submit" style="background: #00a5e0; margin-top:30px;">提交</a></div>
<div class="weui-flex__item"></div>

</div>
<div class="weui-cells__tips">注：带<span class="orange">*</span> 标识的为必填项</div>
      <?php include("commonscript.html") ?>
      <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
      <script src="/style/driverhire/js/dist.js" charset="utf-8"></script>
      <script src="/style/driverhire/js/util.js" charset="utf-8"></script>
      <script type="text/javascript">
        $(function() {
          $("#city-picker").cityPicker({
              title: "请选择收货地址"
              });
              $(".submit").click(function() {
                $("#form").submit();
              })

          $("#form").submit(function(e){//表单提交事件重写
                    e.preventDefault();
                    var formdata = {
                      salary: 0,    //薪水
                      postname : 0 , //职位名称
                      address : 0 , //地区
                      name : 0 , //联系人名字
                      telphone : 0 , //联系人电话
                      capt:0 ,  //验证码
                      level: 0 ,  //要求驾照等级
                      request : 0 //要求
                    }
                      for(x in formdata){  //收集表单数据
                        formdata[x] = $("[name='"+x+"']").val() ;
                      }
                      img =  $(".weui-uploader .upload_img").attr("data-url")
                      if(typeof img != "undefinded"){
                        formdata.img=img;
                      }
                      if(formdata["postname"].length ==0) {
                        $.toptip("职位名不能为空"); return ;
                      }
                      if(formdata["salary"].length ==0) {
                        $.toptip("月薪不能为空"); return ;
                      }
                      if(formdata["address"].length ==0) {
                        $.toptip("地址不能为空"); return ;
                      }
                      if(formdata["name"].length ==0) {
                        $.toptip("联系人不能为空"); return ;
                      }
                      // if(formdata["capt"].length ==0) {
                      //   $.toptip("请输入验证码"); return ;
                      // }
                      if(formdata["postname"].length ==0) {
                        $.toptip("职位名不能为空"); return ;
                      }
                      var url = "<?=site_url("/driverhire/distform") ?>";

                      $.post(url ,formdata , function(data) {
                        if(data.code==200){
                          $.showLoading(data.message);
                          window.history.go(-1)
                        }else if(data.code==405){
                          $.toptip(data.message, 'error')
                        }else {
                          $.toptip("出现未知错误", 'error')
                        }
                        alert
                      },"json");
                      })
            })

      </script>
  </body>
</html>
