<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1 " />
    <link rel="stylesheet" type="text/css" href="<?=base_url('style/index')?>/css/all.css">
    <link rel="stylesheet" type="text/css" href="<?=base_url('style/index')?>/css/second.css">
    <script type="text/javascript" src="<?=base_url('style/index')?>/js/jquery-3.2.1.min.js"></script>
    
    <title>数学季刊</title>
</head>

<body>
    <!--Head 头部 Begin-->
    <?php include('head.html');?>
    <!-- Head 头部 End -->

    <!-- look -->
    <div class="look section">
        <div class="main auto" id="look">
            <div class="look_title">
                <h2><?=$col_name?></h2>
            </div>
        </div>
    </div>
    <!-- 内容条列表 -->
    <div class="newslist section">
        <div class="main auto" id="newslist_main">
            <div class="newslist_title">
                <ul>
                    <li class="active"><a><?=$col_name?></a></li>
                </ul>
            </div>
            <div class="newslist_list">
                <?=empty($article)&&empty($link)?'<p style="text-align: center; margin-top: 100px;color: red;">未找到相关信息</p>':''?>
                <ul>
                    <?php foreach($article as $a):?>
                    <li><a href="<?=site_url('home/article/see/'.$a['article_id'])?>"><?=$a['title']?><font class="fright"><?=empty($a['use_time'])?'暂未过审':date('Y-m-d H:i:s', $a['use_time'])?></font></a></li>
                    <?php endforeach;?>
                    <!-- <li><a href="thrid.html">文章标题处<font class="fright">2018-03-25</font></a></li>
                    <li><a href="thrid.html">文章标题处<font class="fright">2018-03-25</font></a></li>
                    <li><a href="thrid.html">文章标题处<font class="fright">2018-03-25</font></a></li>
                    <li><a href="thrid.html">文章标题处<font class="fright">2018-03-25</font></a></li>
                    <li><a href="thrid.html">文章标题处<font class="fright">2018-03-25</font></a></li>
                    <li><a href="thrid.html">文章标题处<font class="fright">2018-03-25</font></a></li>
                    <li><a href="thrid.html">文章标题处<font class="fright">2018-03-25</font></a></li>
                    <li><a href="thrid.html">文章标题处<font class="fright">2018-03-25</font></a></li>
                    <li><a href="thrid.html">文章标题处<font class="fright">2018-03-25</font></a></li> -->
                </ul>
                <div class="page">
                    <?=$link?>
                </div>
            </div>
        </div>
    </div>

   <!-- Footer 底部 Begin -->
   <?php include('footer.html');?>
   <!-- Footer 底部 End -->
</body>

</html>
<script type="text/javascript" src="<?=base_url('style/index')?>/js/all.js"></script>