<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <title><?=$article['title']?></title>
    <link rel="stylesheet" type="text/css" href="/style/layer_mobile/need/layer.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style/index/css/usual.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/all.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/home.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/invicomment.css">

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/style/index/js/jquery.mobile-events.min.js"></script>
    <script type="text/javascript" src="/style/index/js/constant.js"></script>
    <script type="text/javascript" src="/style/index/js/comment.js"></script>
    <script type="text/javascript" src="/style/layer_mobile/layer.js"></script>
</head>

<body>
    <!-- loding -->
    <div class="loading">
        <div class="pic"></div>
    </div>
    <div class="container-fluid invicomment">
        <div class="col-xs-12 ">
            <div class="row">
                <div class="invicomment_title">
                    <h1 class="col-xs-12 page-header"><?=$article['title']?></h1>
                </div>
            </div>
            <div class="row">
                <div class="media">
                    <div class="media-left">
                        <a class="userimgBox" href=""><img class="userimg" src="<?=$user['headimgurl']?>" class="media-object"></a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading"><?=$user['nickname']?><img src="/style/index/img/icon/vip_level.png" alt=""></h2>
                        <span class="datetime"><?=formatTime($article['create_time'])?></span>
                    </div>
                    <div class="media-right">
                    </div>
                    <div class="row"><span class="label live_orange"><?=$article['type']?></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 invicomment_text">
                    <?=$article['content']?>
                </div>
            </div>
        </div>
        <div class="col-xs-12 invitation_coms">
            <div class="row invitation_comstitle">
                <div class="col-xs-10">
                    <span class="icon icon_item fs20px ">阅读</span><span class="icon fs20px "><?=$article['read']?></span>
                    <span class="icon icon_item fs20px ">点赞</span><span class="icon fs20px "><?=$article['praise']?></span>
                    <span class="icon icon_item fs20px ">评论</span><span class="icon fs20px "><?=$article['comment_total']?></span>
                </div>
                <div class="col-xs-2">
                    <span class="icon text-right icon_item fs20px report" onclick="javascript:location.href='<?=site_url('home/accuse_article/see/').$article['article_id']?>'">举报!</span>
                </div>
            </div>
            <div class="row invitation_comscom" id="comment_top">
                <ul class="media-list col-xs-12">
                    <?php foreach($comment as $c):?>
                    <li class="media">
                            <div class="media-left">
                                <a class="userimgBox" href="#"><img class="userimg" src="<?=$c['headimgurl']?>" class="media-object"></a>
                            </div>
                            <div class="media-body">
                                <a href=""><h2 class="media-heading"><?=$c['nickname']?><img src="/style/index/img/icon/vip_level.png" alt=""></h2></a>
                                <span class="datetime"><?=formatTime($c['create_time'])?></span>
                                <div class="invitation_comment">
                                    <p><script>document.write(ImgIputHandler.getEmoticonImg("<?=$c['content']?>"))</script></p>
                                </div>
                            </div>
                            <div class="media-right"><span class="floor">1L</span></div>
                        
                        <div class="row">
                            <div class="col-xs-push-10 col-xs-2 text-right"><span class="commentClick">回复</span></div>
                        </div>
                        <hr/>
                    </li>
                    <?php endforeach;?>
                </ul>
            </div>
        </div>
    </div>
    <!-- header -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-xs-12 menu_css">
                    <ul>
                        <li class="col-xs-4"><a target="_top" class="chose" href="<?=site_url('home/index')?>">
                                    <img class="choose_img" src="/style/index/img/icon/1_xz.png" alt="论坛">
                                    <p class="blue">论坛</p>
                                </a></li>
                        <li class="col-xs-4 commentClick">
                            <a>
                            <img class="choose_img" src="/style/index/img/icon/comment.png" alt="评论">
                            <p>评论</p>
                        </a>
                        </li>
                        <li class="col-xs-4">
                            <a class="able_praise" href="javascript:void(0);" data-id="<?=$article['article_id']?>">
                            <img class="choose_img" src="/style/index/img/icon/praise.png" alt="点赞">
                            <p>点赞</p>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid commentBox_back"></div>
    <div class="container-fluid commentBox">
        <div class="Main row">
            <div class="Input_Box col-xs-12">
                <div class="row">
                    <textarea class="Input_text col-xs-12" autofocus cols="25" rows="10" data-role="none"></textarea>
                </div>
                <div class="row" style="height: 56px;">
                    <div class="Input_Foot col-xs-12 overflow_hidden"> <a class="imgBtn" href="javascript:void(0);" data-role="none"><img class="center-block" src="/style/index/img/icon/biaoqing.png" alt=""></a><a class="postBtn">确定</a> </div>
                </div>
                <div class="row" id="emotion" style="margin-top: 2px; display: none">
                    <div class="faceDiv col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript" src="/style/index/js/all.js"></script>
<script type="text/javascript">
    $('.postBtn').on('click', function(e){
        var content = $('.Input_text').val();
        if(content.length == 0){
            layer.open({
                content: '请输入评论内容',
                style: 'font-size: 3em',
                btn: '知道了'
            });
            return;
        }
        if(content.length > 256){
            layer.open({
                content: '评论内容不能超过256个字',
                style: 'font-size: 3em',
                btn: '知道了'
            });
            return;
        }
        layer.open({
            type: 2,
            content: '正在提交...',
            style: 'font-size: 3em',
            shadeClose: false
        });
        $.post('<?=site_url("home/comment/").$article["article_id"]?>', {content: content}, function(data, textStatus, xhr) {
            /*optional stuff to do after success */
            if(data.code == 200){
                var html = '<li class="media">';
                            html+='<div class="media-left">'
                                html+='<a class="userimgBox" href=""><img class="userimg" src="'+data.data.headimgurl+'" class="media-object"></a></div>';
                            
                            html+='<div class="media-body">';
                                html+='<a href=""><h2 class="media-heading">'+data.data.nickname+'<img src="/style/index/img/icon/vip_level.png" alt=""></h2></a>';
                                html+='<span class="datetime">刚刚</span>';
                                html+='<div class="invitation_comment">';
                                    html+='<p>'+ImgIputHandler.getEmoticonImg(content)+'</p>';
                                html+='</div>';
                            html+='</div>';
                            html+='<div class="media-right"><span class="floor">1L</span></div>';
                        
                        html+='<div class="row">';
                            html+='<div class="col-xs-push-10 col-xs-2 text-right"><span class="commentClick">回复</span></div>';
                        html+='</div>';
                        html+='<hr/>';
                    html+='</li>';

                $('.commentBox_back').fadeOut();
                $('.commentBox').slideUp(300);
                $('.Input_text').val('');
                layer.closeAll();
                $('html, body').animate({scrollTop: $('#comment_top').offset().top}, 100);
                $(html).hide().insertBefore($('.invitation_comscom ul.media-list li.media').first()).slideDown();
            }else{

                layer.open({
                    content: data.message,
                    style: 'font-size: 3em',
                    btn: '知道了'
                });
            }
        }, 'json');
    });
</script>