<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>专家在线查稿——数学季刊投稿系统</title>
    <link rel="stylesheet" type="text/css" href="<?=base_url('style/index')?>/css/all.css">
    <link rel="stylesheet" href="<?php echo base_url('style/index'); ?>/css/check.css" />
    <script type="text/javascript" src="<?=base_url('style/index')?>/js/jquery-3.2.1.min.js"></script>
</head>

<body>
    <!--Head 头部 Begin-->
    <?php include('head.html');?>
    <!-- Head 头部 End -->
    <div class="newslist section" style="margin: 90px 0;">
        <div class="main auto" id="newslist_main">
            <table class="table">
                <tr>
                    <td align="right">稿件题目：</td>
                    <td>
                        <?=$article['title']?>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="tdLtitle4">稿件关键字：</td>
                    <td>
                        <?=$article['keywords']?>
                    </td>
                </tr>
                <tr>
                    <td align="right">稿件摘要：</td>
                    <td>
                        <?=$article['abstract']?>
                    </td>
                </tr>
                <tr>
                    <td align="right">稿件附件：</td>
                    <td>
                        <a href="<?=site_url('home/download/'.$article['article_id'].'/'.$token)?>">
                        点击下载附件
                        </a>
                    </td>
                </tr>
                <tr>
                	<td colspan="2"></td>
                </tr>

                <form id="myform" method="post">
                <tr>
                	<td align="right">审稿意见：</td>
                	<td><textarea name="content" required="required" placeholder="请填写您的审稿意见" class="textarea"></textarea></td>
                </tr>
                <input type="hidden" name="status">
                <tr>
                	<td colspan="2" align="center">
                		<input type="submit" value="通过审核" status="1" class="input_button">
                		<input type="submit" value="不合格" status="0" class="input_button" style="margin-left: 100px;">
                	</td>
                </tr>
                </form>
            </table>
        </div>
    </div>
    <!-- Footer 底部 Begin -->
    <?php include('footer.html');?>
    <!-- Footer 底部 End -->
</body>

</html>
<script type="text/javascript" src="<?=base_url('style/index')?>/js/all.js"></script>
<script>
	$("input[type='submit']").click(function(event) {
		/* Act on the event */
		event.preventDefault();
		$("input[name='status']").val($(this).attr('status'));
        if($('textarea').val().length <= 0){
            alert('请输入审核意见！');
            $('textarea').focus();
            return;
        }

        var the_btn = $(this);
        var the_btn_val = the_btn.val();
        the_btn.html('正在提交...').css('background', 'gray');
		$.post("<?=site_url('home/check/check/'.$article['article_id'].'/'.$specialist.'/'.$token)?>", $("#myform").serialize(), function(data, textStatus, xhr) {
			/*optional stuff to do after success */
			if(data.code == 200){
				alert('审核成功，感谢您参与审核！');
				location.href='<?=base_url()?>';
			}else{
				alert(data.message);
                the_btn.html(the_btn_val).css('background', '#3B96CB');
			}
		}, 'json');
	});
</script>