<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <title>货卡之家-发现</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="/style/layer_mobile/need/layer.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/index/css/usual.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/all.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/discover.css">
</head>

<body>
    <!-- loding -->
    <div class="loading">
        <div class="pic"></div>
    </div>
    <!-- 货卡商城 -->
    <div class="container-fluid">
        <div class="row changyonggongneng">
            <div class="panel-heading">
                <h4 class="discover_title">常用功能</h4></div>
            <div>
                <ul class="icon-ul">
                    <li><a href="javascript:ing();"><i class="car_monitor"></i><span class="discover-span text-center">车辆监控</span></a></li>
                    <li><a href="<?=site_url('home/flock_list/0')?>"><i class="driver_qun"></i><span class="discover-span text-center">司机群</span></a></li>
                    <li><a href="<?=site_url('usedcar/index')?>"><i class="used-car"></i><span class="discover-span text-center">二手车</span></a></li>

                    <li><a href="javascript:ing();"><i class="trading-record"></i><span class="discover-span text-center">交易记录</span></a></li>
                </ul>
            </div>
        </div>



        <div class="row houkashop">
            <div class="panel-heading">
                <h4 class="discover_title">货卡商城</h4></div>
            <div>
                <ul class="icon-ul">
                    <li><a href="javascript:ing();"><i id="goodsinfo"></i><span class="discover-span text-center">货源信息</span></a></li>
                    <li><a href="javascript:ing();"><i id="used-car"></i><span class="discover-span text-center">二手车</span></a></li>
                    <li><a href="javascript:ing();"><i id="newcar"></i><span class="discover-span text-center">新车</span></a></li>
                    <li><a href="javascript:ing();"><i id="trailer"></i><span class="discover-span text-center">挂车</span></a></li>
                    <li><a href="javascript:ing();"><i id="choose-car"></i><span class="discover-span text-center">选车报价</span></a></li>
                    <li><a href="javascript:ing();"><i id="sell-parts"></i><span class="discover-span text-center">配件销售</span></a></li>
                </ul>
            </div>
        </div>

        <div class="row huokasever">
            <div class="panel-heading">
                <h4 class="discover_title">货卡服务</h4></div>
            <div>
                <ul class="icon-ul">
                    <li><a href="javascript:ing();"><i id="driverjor"></i><span class="discover-span text-center">司机招聘</span></a></li>
                    <li><a href="javascript:ing();"><i id="carmaintain"></i><span class="discover-span text-center">车辆维修</span></a></li>
                    <li><a href="javascript:ing();"><i id="kayouenjor"></i><span class="discover-span text-center">卡友喜好</span></a></li>
                    <li><a href="javascript:ing();"><i id="road-condition"></i><span class="discover-span text-center">路况查询</span></a></li>
                    <li><a href="javascript:ing();"><i id="platfromactive"></i><span class="discover-span text-center">平台活动</span></a></li>
                    <li><a href="javascript:ing();"><i id="buycar-counter"></i><span class="discover-span text-center">购车计数器</span></a></li>
                    <li><a href="javascript:ing();"><i id="recommend"></i><span class="discover-span text-center">推荐公司</span></a></li>
                    <li><a href="javascript:ing();"><i id="addshanjia"></i><span class="discover-span text-center">商家入驻</span></a></li>
                </ul>
            </div>
        </div>

        <div class="row huokainfo">
            <div class="panel-heading">
                <h4 class="discover_title">货卡资讯</h4></div>
            <div>
                <ul class="icon-ul">
                    <li><a href="javascript:ing();"><i id="expose"></i><span class="discover-span text-center">曝光台</span></a></li>
                    <li>
                        <a href="javascript:ing();"><i id="merchant-ranking"></i><span class="discover-span text-center">商家排名</span></a>
                    </li>
                    <li><a href="javascript:ing();"><i id="news"></i><span class="discover-span text-center">新闻资讯</span></a></li>
                    <li><a href="javascript:ing();"><i id="ychehche"></i><span class="discover-span text-center">养车护车</span></a></li>
                </ul>
            </div>
        </div>

        <div class="row kayouessential">
            <div class="panel-heading">
                <h4 class="discover_title">卡友必备</h4></div>
            <div>
                <ul class="icon-ul">
                    <li><a href="<?=site_url('home/flock_list/0')?>"><i id="driver_qun"></i><span class="discover-span text-center">司机群</span></a></li>
                    <li><a href="javascript:ing();"><i id="serialnumbel"></i><span class="discover-span text-center">流水号查询</span></a></li>
                    <li><a href="javascript:ing();"><i id="waybill"></i><span class="discover-span text-center">运单查询</span></a></li>
                    <li><a href="javascript:ing();"><i id="trading-record"></i><span class="discover-span text-center">交易记录</span></a></li>
                </ul>
            </div>
        </div>
        <hr/>
    </div>
    <!-- menu -->

    <?php include('menu.html')?>

</body>

</html>
<script type="text/javascript" src="/style/layer_mobile/layer.js"></script>
<script type="text/javascript" src="/style/index/js/all.js"></script>
<script>
  function ing() {
      layer.open({
          content: '该功能正在开发...',
          skin: 'msg',
          time: 2
      });
  }
</script>