<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1"/>
    <link rel="stylesheet" type="text/css" href="<?=base_url('style/index')?>/css/all.css">  
    <link rel="stylesheet" href="/style/index/css/forget_password.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>忘记密码</title>
</head>

<body>
    <!--Head 头部 Begin-->
    <?php include('head.html');?>
    <!-- Head 头部 End -->
    <!-- 内容 -->
    <div class="newslist section" style="margin: 90px 0;">
        <div class="main auto" id="newslist_main">
            <table class="table" bgcolor="#00FF00">
                <tr>
                    <td align="right">邮箱</td>
                    <td>
                        <input type="email" placeholder="请输入您的邮箱" class="input" name="email">
                    </td>
                </tr>
                <tr class="yzm_pic">
                    <td align="right">验证码</td>
                    <td>
                        <div class="yzm_box">
                            <input class="input" id="yzm_input" type="text" placeholder="请输入右图中验证码" required="required" name="authcode" /><a href="javascript:void(0)" onclick="document.getElementById('yanzhengma').src='<?php echo site_url('home/authcode'); ?>/'+Math.random()" style="display:inline-block; height:40px; float:right;">
                            <img  id="yanzhengma" src="<?php echo site_url('home/authcode'); ?>/<?php echo rand();?>" style="border-radius: 5px;"/>
                        </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right">邮箱验证码</td>
                    <td>
                        <input type="text" placeholder="请输入您收到的邮箱验证码" required="required" id="yzm_email" class="input">
                        <input type="submit" value="获取邮箱验证码" id="get_email_yzm_btn" class="input_button">
                    </td>
                </tr>
                <tr>
                    <td align="right">新密码</td>
                    <td>
                        <input type="password" placeholder="请输入您新密码" name="password" class="input">
                    </td>
                </tr>
                <tr>
                    <td align="right">重复输入新密码</td>
                    <td>
                        <input type="password" placeholder="请重复输入您新的密码" name="re_password" class="input">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" id="submit_btn" class="input_button" value="修改密码" style="font-size: 1.2em">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Footer 底部 Begin -->
    <?php include('footer.html');?>
    <!-- Footer 底部 End -->
</body>

</html>
<script type="text/javascript" src="<?=base_url('style/index')?>/js/all.js"></script>
<script>

$('#get_email_yzm_btn').click(function(event) {
    /* 获取邮箱验证码 */
    $.post("<?=site_url('home/get_email_authcode')?>", { email: $("input[name='email']").val(), authcode: $("input[name='authcode']").val() }, function(data, textStatus, xhr) {
        /*optional stuff to do after success */
        if (data.code == 200) {
            $('.yzm_pic').css('display', 'none');
            $('#get_email_yzm_btn').css('background', 'gray');
            $('#get_email_yzm_btn').val('验证码已发送');
            $('#get_email_yzm_btn').attr('disabled', 'disabled');
            $('#get_email_yzm_btn').attr('id', 'had_send')
        } else {
            alert(data.message);
        }
    }, 'json');
});

$('#submit_btn').click(function(event) {
    /* 修改密码 */
    var password = $("input[name='password']").val();
    var re_password =$("input[name='re_password']").val();
    if(password != re_password){
        alert('两次输入密码不一致');
        return;
    }

    $.post("<?=site_url('home/forget_password/do')?>", {email_authcode: $("input[name='email_authcode']").val(), password: password, re_password: re_password}, function(data, textStatus, xhr) {
        /*optional stuff to do after success */
        if(data.code=200){
            alert('密码修改成功！');
            location.href="<?=site_url('home/login')?>";
        }else{
            alert(data.message);
        }
    }, 'json');
});
</script>