<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>最热求助页</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style/index/css/usual.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/all.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/help.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/aos.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <!-- loding -->
    <div class="loading">
        <div class="pic"></div>
    </div>
    <!-- header -->
    <ul class="nav nav-tabs help_nav">
        <li role="presentation" class=""><a href="<?=site_url('home/index/卡友求助')?>" target="_self"><img src="/style/index/img/icon/new.png">新提问</a></li>
        <li role="presentation" class="active"><a href="<?=site_url('home/index/热门')?>" target="_self"><img src="/style/index/img/icon/hot.png">热门</a></li>
    </ul>
    <div class="container-fluid">
       
        <!-- 热门求助列表 -->
        <div class="row">
            <div class="help-list">
                <ul class="list-group help-hot-list">
                    <?php $i=1; foreach($article as $a):?>
                    <li class="list-group-item" data-aos="zoom-in">
                        <a href="<?=site_url('home/see_article/').$a['article_id']?>">
                            <div class="row">
                                <span class="boutique <?=$i<4?'boutique'.$i:'boutiqueorther'?> col-xs-2"><?=$i?></span>
                                <h3 class="col-xs-10 list-group-item-heading hot-list-h1"><?=$a['title']?></h3>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="userimgBox" href="<?=site_url('home/person/').$a['user_id']?>"><img class="userimg" src="<?=$a['headimgurl']?>" class="media-object"></a>
                                        </div>
                                        <div class="media-body">
                                            <a href="<?=site_url('home/person/').$a['user_id']?>"><h4 class="media-heading"><?=$a['nickname']?><span class="viper level"><img src="/style/index/img/icon/<?=$a['vip']==0?'common':'vip'?>_level.png" alt=""></span></h4></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <span class="text-right help-count col-xs-6">已帮助<?=$a['comment_total']?></span>
                                <a href="invicomment.html" target="_self"><span class="col-xs-6 help-btn btn">帮助</span></a>
                            </div>
                        </a>
                    </li>
                    <?php $i++; endforeach;?>
                </ul>
            </div>
        </div>
    </div>
    <!-- menu -->
    <?php include("menu.html") ?>
</body>
</html>
<script type="text/javascript" src="/style/index/js/all.js"></script>
<script type="text/javascript" src="/style/index/js/comment.js"></script>
<script type="text/javascript" src="/style/index/js/aos.js"></script>
<script>
AOS.init({
    easing: 'ease-out-back',
    duration: 1000
});
</script>