<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <title>货卡之家</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="/style/index/css/mescroll.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style/index/css/usual.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/all.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <!-- loading -->
    <div class="loading">
        <div class="pic"></div>
    </div>
    <div id="mescroll" class="mescroll">
        <!-- 用户头部信息 -->
        <div class="container-fluid">
            <div class="row">
                <div class="userheading">
                    <div class="col-xs-9 head_img">
                        <img src="<?=$user['headimgurl']?>" alt="" class="user_img" style="float: left;">
                        <div style="margin-left: 65px;">
                            <div class="name_level">
                               <a href="<?=site_url('home/person/').$user['user_id']?>"><h4><?=$user['nickname']?><img class="vip-img" src="/style/index/img/icon/<?=$user['vip']==0?'common':'vip'?>_level.png" alt=""></h4></a>
                            </div>
                            <p class="per_sign text-overflow"><?=$user['signature']?></p>
                        </div>
                    </div>
                    <div class="col-xs-3 text-center signIn"><a class="btn btn-block" role="button" href="#">签到</a></div>
                </div>
            </div>
        </div>
        <!-- 论坛帖子分类 -->
        <div id="invitation">
            <div class="container-fluid">
                <div class="row">
                    <div class="invitation_main">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="dropdown col-xs-4">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="<?=site_url('home/index')?>" target="_self" role="button" aria-haspopup="true" aria-expanded="false"><img src="/style/index/img/icon/quanbu.png" alt="">全部<span class="caret"></span></a>
                                <ul class="dropdown-menu list-group">
                                    <li role="presentation" class="col-xs-12 text-center list-group-item"><a target="_self" href="<?=site_url('home/index/卡友生活')?>">卡友生活</a></li>
                                    <li role="presentation" class="col-xs-12 text-center list-group-item"><a target="_self" href="<?=site_url('home/index/卡友经验')?>">卡友经验</a></li>
                                    <li role="presentation" class="col-xs-12 text-center list-group-item"><a target="_self" href="<?=site_url('home/index/自由贸易')?>">自由贸易</a></li>
                                    <li role="presentation" class="col-xs-12 text-center list-group-item"><a target="_self" href="<?=site_url('home/index/灌水区')?>">灌水区</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="col-xs-4"><a target="_self" href="<?=site_url('home/index/精品')?>"><img src="/style/index/img/icon/jingpin.png" alt="">精品</a></li>
                            <li role="presentation" class="col-xs-4"><a href="<?=site_url('home/forum_message/')?>" target="_self"><img src="/style/index/img/icon/xiaoxi.png" alt="">消息</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- swiper轮播广告商 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advertisement_content">
                        <a href="#">
                        <img src="/style/index/img/marchant-img2.jpg" alt="">
                        <p class="advertisement_label">广告</p>
                        <p class="advertisement_info">内容介绍</p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advertisement_content">
                        <a href="#">
                        <img src="/style/index/img/marchant-img3.jpg" alt="">
                        <p class="advertisement_label">广告</p>
                        <p class="advertisement_info">内容介绍</p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advertisement_content">
                        <a href="#">
                        <img src="/style/index/img/marchant-img1.jpg" alt="">
                        <p class="advertisement_label">广告</p>
                        <p class="advertisement_info">内容介绍</p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- swiper轮播广告商 END-->

        <div id="contentmain" style="margin-top: 5px;">
            <div class="container-fluid">
                <!-- 论坛置顶消息内容 -->
                <div class="row">
                    <div class="message_main">
                        <div class="list-group">
                            <?php foreach($notice as $n):?>
                            <a href="<?=site_url('home/see_article/').$n['article_id']?>" class="list-group-item"><span class="tip inform">置顶</span><?=$n['title']?><span class="date"><?=date('Y-m-d', $n['create_time'])?></span></a>
                            <?php endforeach;?>
                        </div>
                    </div>
                </div>
                <!-- 论坛帖子详情 -->
                <div class="row">
                    <div class="invitation_body">
                        <ul class="media-list">
                            <?php foreach($article as $a):?>
                            <li class="media paddusal borderstyle">
                                <div class="media-left">
                                    <a class="userimgBox" href="<?=site_url('home/person/').$a['user_id']?>"><img class="userimg" src="<?=$a['headimgurl']?>" class="media-object"></a>
                                </div>
                                <div class="media-body">
                                    <a href="<?=site_url('home/person/').$a['user_id']?>"><h4 class="media-heading"><?=$a['nickname']?><span class="viper level"><img src="/style/index/img/icon/<?=$a['vip']==0?'common':'vip'?>_level.png" class="vip-img" alt=""></span></h4></a>
                                    <span class="datetime"><?=$a['create_time']?></span>
                                    <div class="invitation_comment">
                                        <a href="<?=site_url('home/see_article/').$a['article_id']?>" target="_self">
                                            <h4><?=$a['title']?></h4>
                                            <p>
                                                <?=$a['content']?>
                                            </p>
                                            <!-- 文章图片 $col_i为col-xs-$col_i -->
                                            <div class="row">
                                                <?php foreach($a['url'] as $u):?>
                                                <div class="col-xs-<?=12/count($a['url'])?> index-item-img-box">
                                                    <img class="invitation_img" src="<?=$u?>">
                                                </div>
                                                <?php endforeach;?>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <div class="able able_praise" data-id="<?=$a['article_id']?>"><img src="/style/index/img/icon/praise.png"><span class="text-center count fs20px"><?=$a['praise']?></span>
                                    </div>
                                    <div class="able"><a href="<?=site_url('home/see_article/').$a['article_id']?>" target="_self"><img src="/style/index/img/icon/comment.png"><span class="text-center count fs20px"><?=$a['comment_total']?></span>
                                    </a></div>
                                </div>
                                <div class="row"><span class="label <?=$a['type_class']?>"><?=$a['type']?></span></div>
                            </li>
                            <?php endforeach;?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- menu -->
   <?php include('menu.html')?>


    <script type="text/javascript" src="/style/index/js/constant.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <!--swiper 广告商部分-->
    <script>
        var personUrl = '<?=site_url("home/perosn/")?>';
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            loop: true,

            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },
            //autoplay: true,
        });

    </script>

    <!--mescroll 上拉加载更多-->
    <script>
    var totalSize = '<?=$total_rows?>';

    function setListData(curPageData) {
        console.log('执行力setListData函数，i<' + curPageData.data.length);
        var html = '';
        for (var i = 0; i < curPageData.data.length; i++) {
            if (curPageData.data.length == 4) {
                console.log(curPageData.data);
            }
            console.log('执行了setListData函数的第' + i + '次for循环');

            html += '<li class="media paddusal borderstyle" ><div class="media-left"><a class="userimgBox" href="'+ personUrl+curPageData.data[i].user_id +'"><img class="userimg" src="' + curPageData.data[i].headimgurl + '" class="media-object"></a></div><div class="media-body"><a href="'+ personUrl+curPageData.data[i].user_id +'"><h4 class="media-heading">' + curPageData.data[i].nickname + '<span class="viper level"><img class="vip-img" src="/style/index/img/icon/' + (curPageData.data[i].vip == 0 ? 'common' : 'vip') + '_level.png" alt=""></span></h4></a><span class="datetime">' + curPageData.data[i].create_time + '</span><div class="invitation_comment"><a href="'+'<?=site_url("home/see_article/")?>'+ curPageData.data[i].article_id +'" target="_self"><h4>' + curPageData.data[i].title + '</h4><p>' + curPageData.data[i].content + '</p><div class="invitation_imgs"><div class="row">';
            if (curPageData.data[i].url.length > 0) {
                var col = 12 / curPageData.data[i].url.length;
                for (var j = 0; j < curPageData.data[i].url.length; j++) {
                    html += '<div class="col-xs-' + col + ' index-item-img-box"><img src="' + curPageData.data[i].url[j] + '" class="img-responsive"></div>';
                }
            }

            html += '</div></div></a></div></div><div class="media-right"><div class="able able_praise" data-id="'+ curPageData.data[i].article_id +'"><img src="/style/index/img/icon/praise.png"><span class="text-center count fs20px">' + curPageData.data[i].praise + '</span></div><div class="able"><a href="' + '<?=site_url("home/see_article/")?>'+ curPageData.data[i].article_id + '" target="_self"><img src="/style/index/img/icon/comment.png"><span class="text-center count fs20px">' + curPageData.data[i].comment_total + '</span></a></div></div><div class="row"><span class="label '+ curPageData.data[i].type_class +'">' + curPageData.data[i].type + '</span></div></li>';
        }
        $('.media-list').append(html);
    }
    </script>
    <script type="text/javascript" src="/style/index/js/all.js"></script>
    <script type="text/javascript" src="/style/index/js/dropdown.js"></script>
    <script type="text/javascript" src="/style/index/js/mescroll.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(function() {
        //创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,重置列表数据;
        var mescroll = new MeScroll("mescroll", {
            down: {
                use: false,
                auto: false,
            },
            up: {
                callback: getListData, //上拉回调,此处可简写; 相当于 callback: function (page) { getListData(page); }
                auto:false, //初始化完毕,是否自动触发上拉加载的回调
                isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                //clearEmptyId: "dataList", //1.下拉刷新时会自动先清空此列表,再加入数据;
                htmlLoading: '<p class="upwarp-progress mescroll-rotate"></p><p class="upwarp-tip">加载中..</p>',
                htmlNodata: '<p class="upwarp-nodata">-- 已加载全部内容 --</p>',
            },

        });

        /*联网加载列表数据  page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
        function getListData(page) {
            $.ajax({
                url: UP_TO_MORE + '<?=$type?>/' + page.num * page.size + '/up',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    curPageData = data.data;

                    //联网成功的回调,隐藏下拉刷新和上拉加载的状态;
                    //mescroll会根据传的参数,自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
                    console.log("page.num=" + page.num + ", page.size=" + page.size + ", curPageData.length=" + curPageData.length + '，totalSize=' + totalSize);
                    mescroll.endSuccess(curPageData.length, totalSize);
                    setListData(data);
                },
                error: function() {
                    //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                    mescroll.endErr();
                }
            });
        }
    });
    </script>
</body>

</html>