<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <title>货卡之家-精品贴</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style/index/css/usual.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/all.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/home.css">
    <link rel="stylesheet" type="text/css" href="/style/index/css/aos.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <!-- loding -->
    <div class="loading">
        <div class="pic"></div>
    </div>
    <!-- 用户头部信息 -->
    <div class="container-fluid">
        <div class="row">
            <div class="userheading">
                <div class="col-xs-9 head_img">
                    <img src="<?=$user['headimgurl']?>" alt="" class="user_img" style="float: left;">
                    <div style="margin-left: 65px;">
                        <div class="name_level">
                            <a href="#"><h4><?=$user['nickname']?><img class="vip-img" src="/style/index/img/icon/<?=$user['vip']==0?'common':'vip'?>_level.png" alt=""></h4></a>
                        </div>
                        <p class="per_sign text-overflow"><?=$user['signature']?></p>
                    </div>
                </div>
                <div class="col-xs-3 text-center signIn"><a class="btn btn-block" role="button" href="#">签到</a></div>
            </div>
        </div>
    </div>
    <!-- 论坛帖子分类 -->
    <div id="invitation">
        <div class="container-fluid">
            <div class="row">
                <div class="invitation_main">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="dropdown col-xs-4">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html" target="_self" role="button" aria-haspopup="true" aria-expanded="false"><img src="/style/index/img/icon/quanbu.png" alt="">全部<span class="caret"></span></a>
                            <ul class="dropdown-menu list-group">
                                <li role="presentation" class="col-xs-12 text-center list-group-item"><a target="_self" href="index.html">卡友生活</a></li>
                                <li role="presentation" class="col-xs-12 text-center list-group-item"><a target="_self" href="index.html">卡友经验</a></li>
                                <li role="presentation" class="col-xs-12 text-center list-group-item"><a target="_self" href="index.html">自由贸易</a></li>
                                <li role="presentation" class="col-xs-12 text-center list-group-item"><a target="_self" href="index.html">灌水区</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="col-xs-4"><a target="_self" href="index_boutique.html"><img src="/style/index/img/icon/jingpin.png" alt="">精品</a></li>
                        <li role="presentation" class="col-xs-4"><a href="index_message.html" target="_self"><img src="/style/index/img/icon/xiaoxi.png" alt="">消息</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- 论坛帖子详情 -->
        <div class="row">
            <div class="col-xs-12 invitation_body">
                <ul class="media-list">
                    <?php $i=1; foreach($article as $a):?>
                    <li class="media" data-aos="zoom-in-down">
                        <div class="media-left">
                            <span class="boutique <?=$i<4?'boutique'.$i:'boutiqueorther'?>"><?=$i?></span>
                        </div>
                        <div class="media-body">
                            <a href="<?=site_url('home/see_article/').$a['article_id']?>" target="_self">
                            <div class="invitation_comment">
                                <h3><?=$a['title']?></h3>
                            </div>
                            <p><?=$a['content']?></p>
                            <h4 class="media-heading"><?=$a['nickname']?><span class="level"><img src="/style/index/img/icon/<?=$a['vip']==0?'common':'vip'?>_level.png" alt=""></span></h4>
                             </a>
                        </div>
                        <div class="media-right">
                            <div class="able able_praise"><img src="/style/index/img/icon/praise.png"><span class="text-center count fs20px"><?=$a['praise']?></span>
                            </div>
                            <div class="able">
                                <a href="invicomment.html" target="_self"><img src="/style/index/img/icon/comment.png"><span class="text-center count fs20px"><?=$a['comment_total']?></span>
                                    </a>
                            </div>
                        </div>
                        <hr/>
                    </li>
                    <?php $i++; endforeach;?>
                </ul>
            </div>
        </div>
    </div>
    <!-- menu -->
    <div id="header" class="header">
        <?=include('menu.html')?>
    </div>
</body>

</html>
<script type="text/javascript" src="/style/index/js/all.js"></script>
<script type="text/javascript" src="/style/index/js/dropdown.js"></script>
<script type="text/javascript" src="/style/index/js/aos.js"></script>
<script>
AOS.init({
    easing: 'ease-out-back',
    duration: 1000
});
</script>