<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1" />
    <link rel="stylesheet" type="text/css" href="<?=base_url('style/index')?>/css/all.css">
    <link rel="stylesheet" type="text/css" href="<?=base_url('style/index')?>/css/register.css">
    <script type="text/javascript" src="<?=base_url('style/index')?>/js/jquery-3.2.1.min.js"></script>
    <title>数学季刊</title>
</head>

<body>
    <!--Head 头部 Begin-->
    <?php include('head.html');?>
    <!-- Head 头部 End -->
    
    <!-- Sign in -->
    <div class="register main auto">
        <div class="" id="signIn">
            <form id="form_event" method="post">
                <ul class="signIn_ul auto">
                    <li>
                        <p>请填写个人信息完成注册 &emsp;&emsp;&emsp;&emsp;您注册的身份为：<span style="font-size: 1.5em" class="hint"><?=format_user_identity($identity)?></span></p>
                    </li>
                    <li><span class="must">*</span><span class="itemname">邮箱</span>
                        <input type="email" required="required" name="email" placeholder="请输入常用邮箱">
                    </li>
                    <li><span class="must">*</span><span class="itemname">密码</span>
                        <input type="password" id="pwd" required="required" name="pwd" placeholder="请输入密码">
                    </li>
                    <li><span class="must">*</span><span class="itemname">确认密码</span>
                        <input type="password" id="re_pwd" required="required" name="re_pwd" placeholder="请再次输入密码">
                    </li>
                    <li><span class="must">*</span><span class="itemname">真实姓名</span>
                        <input type="text" required="required" name="realname" placeholder="请输入真实姓名">
                    </li>
                    <li><span class="must">*</span><span class="itemname">性别</span>
                        <input type="radio" value="男" name="sex" class="sex" />
                        <font>男</font>
                        <input type="radio" value="女" name="sex" class="sex" />
                        <font>女</font>
                    </li>
                    <li><span class="must">*</span><span class="itemname">专业</span>
                        <input type="text" required="required" name="major" placeholder="请输入您的专业">
                    </li>
                    <li><span class="must">*</span><span class="itemname">研究方向</span>
                        <input type="text" required="required" name="research_direction" placeholder="请输入您的研究方向">
                    </li>
                    <li><span class="must">*</span><span class="itemname">地址</span>
                        <input type="text" required="required" name="address" placeholder="请输入您的通讯地址">
                    </li>
                    <li><span class="must">*</span><span class="itemname">手机号</span>
                        <input type="text" required="required" name="phone" placeholder="请输入您的手机号">
                    </li>
                    <li><span class="must">*</span><span class="itemname">邮编</span>
                        <input type="text" required="required" name="postcode" placeholder="请输入您的邮编">
                    </li>
                    <li><span class="itemname norequired">单位</span>
                        <input type="text" name="organization" placeholder="请输入您的单位名称">
                    </li>
                    <li><span class="itemname norequired">QQ号</span>
                        <input type="text" name="qq" placeholder="请输入您的QQ号码">
                    </li>
                    <li><span class="itemname norequired">学历</span>
                        <input type="text" name="edu_background" placeholder="请填写您的学历">
                    </li>
                    <li><input type="hidden" name="identity" value="<?=$identity?>" /></li>
                    <li><input type="submit" value="注册" id="signin_btn" class="auto" /></li>
                </ul>
            </form>
        </div>
    </div>
    <!-- Footer 底部 Begin -->
   <?php include('footer.html');?>
   <!-- Footer 底部 End -->
</body>

</html>
<script type="text/javascript" src="<?=base_url('style/index')?>/js/all.js"></script>
<script type="text/javascript">
    $('#form_event').submit(function(event) {
        event.preventDefault();
        if($('#re_pwd').val()!=$('#pwd').val()){
            alert("两次输入密码不一致!");
            return;
        }
        var from = $(this);
        $.ajax({
            url:"<?=site_url('home/register/do')?>",
            type:'POST',
            data:from.serialize(),
            dataType:'json',
            success:function (data) {
                if(data.code==200){
                    alert(data.message);
                    location.href="<?=site_url('index/myhome')?>";
                }else{
                    alert(data.message);
                }
            }
        });
    });
</script>