<div class="weui-tabbar footer">
    <a href="/driverhire/index" class="weui-tabbar__item weui-bar__item--on">
      <div class="weui-tabbar__icon">
        <span class="fa fa-square"></span>
      </div>
      <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/driverhire/dist" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <span class="fa fa-plus-square"></span>
      </div>
      <p class="weui-tabbar__label">发布招聘</p>
    </a>
    <a href="/driverhire/personal" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <span class="fa fa-user"></span>
      </div>
      <p class="weui-tabbar__label">个人中心</p>
    </a>
  </div>
  <div class="weui-footer">
    <p class="weui-footer__links">
      <a href="javascript:void(0);" class="weui-footer__link"></a>
    </p>
    <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
  </div>
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
