<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>货卡之家货源发布平台</title>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
		<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/0.8.3/css/jquery-weui.min.css">
		<link rel="stylesheet" href="/application/views/source/static/css/GoodSource.css" />
	</head>

	<body>
		<div class="pu_head">
			<a href="/application/views/source/index.html">
				    <i class="fa fa-angle-left" aria-hidden="true"></i>
					   返回</a>
				    	<h4>发布货源信息</h4>
		</div>
		
		<div class="main_pic">
			
		</div>
		<div class="weui_cells touch_infor">
				<label class="weui_cell">
					<p>货源路线</p>
				</label>
				<label class="weui_cell">
					
			<p>出发地
			<input type="text" id='start_city' placeholder="点击选择出发地" required="required"/>
			</p>
			</label>
			<label class="weui_cell">
			<p>目的地
			<input type="text" id='arrive_city' placeholder="点击选择出发地"  required="required"/>
			</p>
			</label>
			
			</div>
		
		