<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>指定专家初审</title>
    <link href="/style/author/css/public.css" rel="stylesheet">
    <script type="text/javascript" src="<?=base_url('style/index')?>/js/jquery-3.2.1.min.js"></script>
</head>

<body>
    <table class="table">
        <tr>
            <td align="right">稿件标题：</td>
            <td>
                <?=$article['title']?>
            </td>
        </tr>
        <tr>
            <td align="right">稿件作者：<br><br>
                <a href="<?=site_url('index/edit/see_user/'.$article['user_id'])?>">
                    <?=$this->session->userdata('identity') == 'edit'?'查看投稿作者信息':''?>
                </a>
            </td>
            <td>
                <?=$article['author']?>
            </td>
        </tr>
        <tr>
            <td align="right">稿件关键字：</td>
            <td>
                <?=$article['keywords']?>
            </td>
        </tr>
        <tr>
            <td align="right">稿件摘要：</td>
            <td>
                <?=$article['abstract']?>
            </td>
        </tr>
        <tr>
            <td align="right">稿件附件：</td>
            <td><a href="<?=site_url('index/editorial/download/'.$article['article_id'])?>">点击下载附件</a></td>
        </tr>
        <?php foreach($suggest as $s):?>
        <tr>
            <td align="right">
                
                <?=format_suggest_name($s['rank'], $s['realname'])?><br><br>
                <a href="<?=site_url('index/edit/see_user/'.$s['user_id'])?>">
                    <?=$this->session->userdata('identity')=='edit'?'查看用户信息':''?>    
                </a>
                
            </td>
            <td>
                <?=$s['content']?>
                    <br/>
                    <br/><span class="hint">审核时间：<?=date('Y-m-d H:i:s', $s['time'])?><span>
            </td>
        </tr>
        <?php endforeach;?>
    </table>
</body>

</html>
<script>

function go(id){
    var identity = "<?=$this->session->userdata('identity')?>"
    if(identity == 'edit'){
        location.href = '<?site_url("home/edit/see_user/")?>'+id;
    }
}

</script>