<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>稿件列表</title>
<link rel="stylesheet" href="<?=base_url('style/author'); ?>/css/public.css" />
</head>
<body>
    <table class="table">
    	<tr>
    		<th align="center">标题</th>
    		<th align="center">关键词</th>
    		<th align="center">投稿时间</th>
    		<th align="center">审核截止时间</th>
    		<th align="center">操作</th>
    	</tr>
		<?php foreach($article as $a):?>
			<tr>
				<td>
					<a href="<?=site_url('index/editorial/article/see/'.$a['article_id'])?>" title="<?=$a['title']?>"><?=$a['title']?></a>
				</td>
				<td>
					<?=$a['keywords']?>
				</td>
				<td align="center">
					<?=date('Y-m-d H:i:s', $a['create_time'])?>
				</td>
				<td align="center">
					<?=$a['check_deadline']?date('Y-m-d H:i:s', $a['check_deadline']):''?>
				</td>
				<td align="center">
					【<a href="<?=site_url('index/editorial/article/'.$assign_rank.'/'.$a['article_id'])?>">判定稿件</a>】
				</td>
			</tr>
		<?php endforeach;?>
    </table>
</body>
</html>